<ion-header>
  <ion-navbar>
    <ion-title>Aprobacion</ion-title>
    <ion-buttons right *ngIf="checked">
      <button ion-button icon-end outline> 
        Enviar
        <!--<ion-icon name="send"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content elastic-header>
  <div class="elastic">
    <ion-list *ngFor="let item of itemsdoctohead">
      <!--Ordenes de compras-->
      <div *ngIf="doctoid==402 || doctoid==409">
        <ion-row>
          <ion-col>
            <strong> Solicitante {{item.f_solicitante}}</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong> Comprador </strong> {{item.f_comprador}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let doc of item.doctosSplit">{{doc}}</ion-col>
          <ion-col>
            <strong>Fecha </strong> {{item.f_docto_fecha | date: "dd/MM/yyyy"}}</ion-col>
          <ion-col>
            <strong>Estado </strong> Pendiente</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>Proveedor </strong> {{item.f_proveedor}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>Moneda </strong> {{item.f_id_base_moneda}}</ion-col>
          <ion-col>
            <strong>Base </strong> {{item.f_tasa_base}}
            {{item.f_id_base_moneda}}</ion-col>
          <ion-col>
            <strong>Local </strong> {{item.f_tasa_local}}
            {{item.f_id_local_moneda}}</ion-col>
          <ion-col>
            <strong>Tipo </strong> {{item.f_id_tipo_cambio}}
            {{item.f_id_base_moneda}}</ion-col>
          <ion-col>
            <strong>Consig. </strong> {{item.f_ind_consig_txt}}</ion-col>
        </ion-row>
      </div>

      <!--Presupuestos de compras-->
      <div *ngIf="doctoid==420">
        <div>
          <ion-row>
            <ion-col>
              <strong>Solicitante {{item.f_solicitante}}</strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>C.O. vB2-centro de operaciones aoc </strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Presupuesto: </strong> {{item.f_pto_obra}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Tipo </strong> {{item.f_tipo_movto}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Item </strong> {{item.f_item}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>C.Costo/Actividad </strong> {{item.f_ccosto}}</ion-col>
            <ion-col>
              <strong> Avance </strong> {{item.f_porc_avance_txt}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Proyecto </strong> {{item.f_proyecto}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>UN </strong> 001WWWWW99999-xxxxxx</ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
              <strong>Presupuesto</strong>
            </ion-col>
            <ion-col>
              <strong>Ejecutado/Comp</strong>
            </ion-col>
            <ion-col>
              <strong>Este movto</strong>
            </ion-col>
            <ion-col>
              <strong>Disponible aprox.</strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Cantidad</strong>
            </ion-col>
            <ion-col>{{item.f_cant_ppto}}</ion-col>
            <ion-col>{{item.f_cant_eje_comprom}}</ion-col>
            <ion-col>{{item.f_cant_movto}}</ion-col>
            <ion-col>{{item.f_cant_dispon}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Valor</strong>
            </ion-col>
            <ion-col>$ {{item.f_valor_ppto}}</ion-col>
            <ion-col>$ {{item.f_valor_eje_comprom }} </ion-col>
            <ion-col>
              <strong>$ {{item.f_valor_movto}}</strong>
            </ion-col>
            <ion-col>$ {{item.f_valor_ppto}}</ion-col>
          </ion-row>
        </div>
      </div>

      <!--Solicitudes de compras-->
      <div *ngIf="doctoid==401">
        <ion-row>
          <ion-col>
            <strong>Solicitante {{item.f_solicitante}}</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let doc of item.doctosSplit">
            {{doc}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>Fecha:</strong> {{item.f_docto_fecha | date: "dd/MM/yyyy
            H:mm"}}</ion-col>
          <ion-col>
            <strong>Estado </strong> {{item.f_tipo_movto}} </ion-col>
        </ion-row>

      </div>

      <!--Ordenes de compra de servicios-->
      <div *ngIf="doctoid==305">
        <ion-row>
          <ion-col *ngFor="let doc of item.doctosSplit">
            {{doc}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>Fecha:</strong> {{item.f_docto_fecha | date: "dd/MM/yyyy
            H:mm"}}</ion-col>
          <ion-col>
            <strong>Estado </strong> {{item.f_tipo_movto}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>Moneda</strong> {{item.f_id_base_moneda}}</ion-col>
          <ion-col>
            <strong>Base</strong>
            {{item.f_tasa_base}}&nbsp;{{item.f_id_base_moneda}}</ion-col>
          <ion-col>
            <strong>Local</strong>
            {{item.f_tasa_local}}&nbsp;{{item.f_id_local_moneda}}</ion-col>
          <ion-col>
            <strong>Tipo</strong>
            {{item.f_id_tipo_cambio}}&nbsp;{{item.f_id_base_moneda}}</ion-col>
          <ion-col>
            <strong>Consig</strong> {{item.f_ind_consig_txt}}</ion-col>
        </ion-row>
      </div>
      <!--Actividades presupuestos de obra-->
      <div *ngIf="doctoid==643">
        <div>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
              <strong>Presupuesto</strong>
            </ion-col>
            <ion-col>
              <strong>Ejecutado/Comp</strong>
            </ion-col>
            <ion-col>
              <strong>Este movto</strong>
            </ion-col>
            <ion-col>
              <strong>Disponible aprox.</strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Cantidad</strong>
            </ion-col>
            <ion-col>{{item.f_cant_ppto}}</ion-col>
            <ion-col>{{item.f_cant_eje_comprom}}</ion-col>
            <ion-col>{{item.f_cant_movto}}</ion-col>
            <ion-col>{{item.f_cant_dispon}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Valor</strong>
            </ion-col>
            <ion-col>$ {{item.f_valor_ppto}}</ion-col>
            <ion-col>$ {{item.f_valor_eje_comprom }} </ion-col>
            <ion-col>
              <strong>$ {{item.f_valor_movto}}</strong>
            </ion-col>
            <ion-col>$ {{item.f_valor_ppto}}</ion-col>
          </ion-row>
        </div>
      </div>

      <!--Presupuestos de compras-->
      <div *ngIf="doctoid==641 || doctoid==642">
        <div>
          <ion-row>
            <ion-col>
              <strong>Solicitante {{item.f_solicitante}}</strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>C.O. vB2-centro de operaciones aoc</strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Presupuesto:</strong> {{item.f_pto_obra}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Tipo </strong> {{item.f_tipo_movto}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Item </strong> {{item.f_item}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>C.Costo/Actividad</strong> {{item.f_ccosto}}</ion-col>
            <ion-col>
              <strong> Avance </strong> {{item.f_porc_avance_txt}}</ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
              <strong>Presupuesto</strong>
            </ion-col>
            <ion-col>
              <strong>Ejecutado/Comp</strong>
            </ion-col>
            <ion-col>
              <strong>Este movto</strong>
            </ion-col>
            <ion-col>
              <strong>Disponible aprox.</strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Cantidad</strong>
            </ion-col>
            <ion-col>{{item.f_cant_ppto}}</ion-col>
            <ion-col>{{item.f_cant_eje_comprom}}</ion-col>
            <ion-col>{{item.f_cant_movto}}</ion-col>
            <ion-col>{{item.f_cant_dispon}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Valor</strong>
            </ion-col>
            <ion-col>$ {{item.f_valor_ppto}}</ion-col>
            <ion-col>$ {{item.f_valor_eje_comprom }} </ion-col>
            <ion-col>
              <strong>$ {{item.f_valor_movto}}</strong>
            </ion-col>
            <ion-col>$ {{item.f_valor_ppto}}</ion-col>
          </ion-row>
        </div>
      </div>
    </ion-list>
  </div>
  <ion-list>
    <ion-item *ngFor="let docto of itemsdocto;let i=index">
      <ion-toggle ion-true-text="online" ion-false-text="online" item-end
        [(ngModel)]="docto.selcheckbox" [disabled]="!checked"
        color="favorite">
      </ion-toggle>
      <ion-label>
        <div>{{docto.f_item_resumen}} </div>
        <div>{{docto.f_cantidad}}</div>
        <p>{{docto.f_bodega}}</p>
        <p>{{docto.f_motivo}}</p>
        <p>{{docto.f_fecha_entrega}}</p>
        <p>{{docto.f_vlr_impuestos}}</p>
      </ion-label>
    </ion-item>
    <!--
    <ion-item>      
      <ion-row>
        <ion-col col-10>
          <ion-item>
            <div>{{docto.f_item_resumen}} </div>
            <div>{{docto.f_cantidad}}</div>
            <p>{{docto.f_bodega}}</p>
            <p>{{docto.f_motivo}}</p>
            <p>{{docto.f_fecha_entrega}}</p>
            <p>{{docto.f_vlr_impuestos}}</p>
          </ion-item>
        </ion-col>
        <ion-col col-2 class="sin-padding sin-margin">
          <ion-item  class="centro sin-padding sin-margin">
            <ion-toggle item-end [(ngModel)]="docto.selcheckbox"
              (ionChange)="changeRadioStatus(docto, i)" [disabled]="!checked"
              color="favorite"></ion-toggle>
              <ion-checkbox [(ngModel)]="docto.selcheckbox" [disabled]="!checked" (click)="changeRadioStatus(docto, i)"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item>
              -->
  </ion-list>
  <ion-fab right bottom medium #fab *ngIf="checked">
    <button ion-fab color="twitter">
      <ion-icon name="checkmark"></ion-icon>
    </button>
    <ion-fab-list side="top" white>
      <button ion-fab color="danger" (click)="seleccion('r',fab)">
        <ion-icon name="close"></ion-icon>
      </button>
      <ion-label color="danger" >Rechazar todo</ion-label>
      <button ion-fab color="favorite" (click)="seleccion('a',fab)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
      <ion-label color="favorite" >Aprobar todo</ion-label>
    </ion-fab-list>
  </ion-fab>

</ion-content>