page-aprobacion-documentos {
	.centro {
		position: absolute;
		top: 50%;
		left: 50%;
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
	.item-ios {
		padding-left: 5px;
	}
	.item-md {
		padding-left: 3px;
	}
	.label-md {
		margin: 5px 0px 5px 0;
	}
	.list-md {
		margin: -1px 0 4px;
	}
	.buttonAceptar {
		background-color: forestgreen;
	}
	.itemhead {
		padding: 9px;
		background-color: lightgray; //line-height: 13px;
		border: 1px solid black;
	}
	.col {
		padding: 2px;
	}
	.elastic {
		background-color: #2d88a9;
		background-size: cover;
		background-position: center;
		height: 50vw;
		padding: 9px;
		color: white;
	}
	.main-content {
		padding: 20px;
		background-color: white;
		position: absolute;
	}
	.btn-aprobar {
		background-color: #7cd690;
	}
	.btn-rechazar {
		background-color: #ff3d00;
	}
	.toggle-md .toggle-icon {
		background-color: #f541006e;
	}
	.toggle-md .toggle-inner,
	.toggle-ios .toggle-icon::before {
		background-color: #f54100;
        //content: "OFF";
	}
	.toggle-ios .toggle-icon {
		margin-left: -2px;
	}
	.item-ios .toggle-ios {
		padding-right: 0px;
	}
	.sin-padding {
		padding: 0px;
	}
	.sin-margin {
		margin: 0px;
	}
	ion-fab ion-label {
		font-weight: bold;
		text-align: center;
		margin: 0px !important;
		margin-bottom: -8px !important;
		margin-left: -45px!important;
	}
}
