comp-explorador-archivos {
    .file-color {
        color: #0109a3 !important;
    }

    ion-icon i {
        color:  #0109a3 !important;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #0109a3 !important;
    }

}
