<ion-list>
  <ion-list-header>
    {{rutaCarpetas}}
    <ion-icon name="arrow-back" item-right *ngIf="dirPath.length>1" (click)="atras()"></ion-icon>
  </ion-list-header>
  <ion-item *ngFor="let x of dirs  | filtroArray:{name: textoFiltro}" (click)="open(x)">
    <ion-icon class="file-color" item-start>
      <i class="icon {{x.icono}} file-color"></i>
    </ion-icon>
    {{x.name}}
  </ion-item>
</ion-list>