<ion-header>

  <ion-navbar>
    <ion-title>Facturas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div><img [src]="signatureImage" *ngIf="signatureImage" /></div>

    <ion-fab edge right (click)="nuevo()">
        <button ion-fab><ion-icon name="add" ></ion-icon></button>
    </ion-fab>
  <ion-card class="span">
    <ion-toolbar header-bcg no-padding no-lines class="Subcabecera">
        <ion-row>
            <ion-col>
                Diego Hoyos
            </ion-col>
            <ion-col>
            <div white icon-small (click)="openSignatureModel()">
              <ion-icon>
                    <i class="icon icon-printer"></i>
              </ion-icon>
              </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
    <comp-lista-completa [pCompRegistros]="cp" (click)="cpfactura()"></comp-lista-completa>
    <comp-lista-completa [pCompRegistros]="total" (click)='ejemplo()'></comp-lista-completa>
    <comp-lista-completa [pCompRegistros]="recaudo"></comp-lista-completa>
  </ion-card>
</ion-content>