<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="abrirPreferencias($event)">
        <ion-icon name="more"></ion-icon>
      </button>
      <button id="notification-button" ion-button icon-only (click)="irListaNotificaciones()" [hidden]="intBadges == 0">
        <ion-icon name="notifications">
          <ion-badge id="notifications-badge" color="danger">{{ intBadges }}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="(!overlayHidden) ? 'ion-content-con-imagen' : ''">
  <h6 *ngIf="!overlayHidden" class="tableros">Aún no tienes tableros configurados</h6>
  <ion-card *ngFor="let item of tablerosLocales">
    <ion-card-header>
      {{item.titulo}}
    </ion-card-header>
    <ion-card-content style="display: block" *ngIf="item.grafica.datos">
      <canvas baseChart [datasets]="item.grafica.datos" [labels]="item.grafica.etiquetas"
        [options]="item.grafica.opciones" [legend]="item.grafica.leyendas" [colors]="item.grafica.colores"
        [chartType]="item.tipo" (chartHover)="eventoSobre($event,item)"
        (chartClick)="eventoClick($event,item)"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
