page-principal {
	#notification-button {
		position: relative;
		width: 42px;
		top: 1px;
		right: 1px;
		overflow: visible !important;
	}
	#notifications-badge {
		background-color: red;
		position: absolute;
		top: -0.2rem;
		right: -0.2rem;
		opacity: 0.9;
		border-radius: 100%;
	}
	.card-md + ion-card,
	.card-ios {
		margin-top: 10px !important;
	}
	.my-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		z-index: 20;
		top: 0;
		left: 0;
	}
	.overlay-btn {
		float: right;
		padding: 0px;
		margin: 0px;
		margin-top: -5px;
		margin-right: -7px;
		background-color: #64b5f6;
	}
	.ion-content-con-imagen {
		background-image: url('../assets/images/2.png');
		background-repeat: no-repeat;
		right: 0;
		top: 50px;
		display: block;
		background-size: contain;
	}
	.mi-overlay {
		transform: translate3d(-13px, -13px, 0px) scale(1);
		height: 64px;
		width: 64px;
		opacity: 0;
		transition: transform 270ms ease 0s, opacity 189ms ease 81ms;
	}
	.tableros {
		margin-top: 180px;
		color: gray;
		text-align: center;
	}
}
