comp-lista-check-box {
	.item-md {
		padding: 5px;
	}

	.item-md ion-icon[item-left],
	.item-md ion-icon[item-right],
	.item-md ion-icon[item-start],
	.item-md ion-icon[item-end] {
		transform: none;
		margin: 0px !important;
	}

	.item-md [item-left],
	.item-md [item-right],
	.item-md [item-start],
	.item-md [item-end] {
		margin: 0px;
	}

	.button-outline-md {
		border-width: 1px;
		border-style: solid;
		border-color: #64b5f6;
		color: #202020;
		background-color: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.item-md .item-button {
		padding: 0 0.6em;
		height: 35px;
		font-size: 1.2rem;
	}

	.item.item-md .checkbox-md,
	.item.item-ios .checkbox-ios {
		position: static;
		display: block;
		margin: 9px 10px 9px 4px;
	}

	[col-10] {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 88%;
		-ms-flex: 0 0 88%;
		flex: 0 0 88%;
		width: 88%;
		max-width: 88%;
	}
	[col-2] {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 12%;
		-ms-flex: 0 0 12%;
		flex: 0 0 12%;
		width: 12%;
		max-width: 12%;
	}
    .row{
        border-bottom: 1px solid #dedede;
    }
	.item-md,
	.item-ios {
		height: 80px;
	}
	.item-block .item-inner {
		border-bottom: none !important;
    }
    .item.item-ios .checkbox-ios[item-right], .item.item-ios .checkbox-ios[item-end] {
        margin: 10px 8px 9px 10px;
    }
}
