<ion-list>
  <ion-list-header *ngIf="pCompTituloLista">
    {{pCompTituloLista}}
  </ion-list-header>
  <ion-row no-border no-padding no-margin *ngFor="let item of pCompRegistros; let j= index">
    <ion-col col-2 no-border no-padding no-margin>
      <ion-item no-border no-padding no-margin>
        <ion-checkbox [(ngModel)]="item.estado" (ionChange)="actualizaEstados()"
          color="dark" item-right></ion-checkbox>
      </ion-item>
    </ion-col>
    <ion-col col-10 no-border no-padding no-margin>
      <ion-item no-border no-padding no-margin>
        <ion-label (click)="onclikItem(item)">
          <h4>{{item.titulo}}</h4>
          <p *ngIf="item.texto1">{{item.texto1}}</p>
        </ion-label>
        <button ion-button icon-only item-end color="facebook"
          (click)="onclikItemBtn(item)" *ngIf="item.btnEstado">
          <ion-icon name="{{pCompBtnImagen}}"></ion-icon>
        </button>
      </ion-item>
    </ion-col>
  </ion-row>
  <!--
  <ion-item no-border *ngFor="let item of pCompRegistros; let j= index">
    <ion-label (tab)="onclikItem(item)">
      <h4>{{item.titulo}}</h4>
      <p *ngIf="item.texto1">{{item.texto1}}</p>
    </ion-label>
    <button ion-button icon-only item-end color="facebook"
      (click)="onclikItemBtn(item)" *ngIf="item.btnEstado">
      <ion-icon name="{{pCompBtnImagen}}"></ion-icon>
    </button>
    <ion-checkbox [(ngModel)]="item.estado" (ionChange)="actualizaEstados()"
      color="dark" item-right></ion-checkbox>
  </ion-item>
  -->
</ion-list>