<ion-header>
    <ion-navbar>
      <ion-title>Cliente</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
      <ion-fab right bottom>
          <button ion-fab color="twitter"><ion-icon name="arrow-up"></ion-icon></button>
          <ion-fab-list side="top" white >
            <button ion-fab color="primary">
                <ion-icon>
                    <i class="icon icon-truck"></i>
                  </ion-icon>
            </button>
            <button ion-fab color="facebook">
                <ion-icon>
                    <i class="icon icon-currency-usd"></i>
                  </ion-icon>
            </button>
            <button ion-fab color="primary">
                <ion-icon>
                    <i class="icon icon-cart"></i>
                  </ion-icon>
            </button>
            <button ion-fab color="primary">
                <ion-icon>
                    <i class="icon icon-comment-alert"></i>
                  </ion-icon>
            </button>
            <button ion-fab color="primary">
                <ion-icon>
                    <i class="icon icon-map-marker-radius"></i>
                  </ion-icon>
            </button>
          </ion-fab-list>
        </ion-fab>
      
    <ion-grid no-padding>
          <ion-list no-margin>
            <ion-toolbar no-padding no-lines class="positionHeader" *ngFor="let item of data">
              <h2 item-title class="Subcabecera">{{item.cliente_nombre_est}}</h2>
              <p item-subtitle class="Subcabecera">{{item.cliente_nit}} - {{item.cliente_id_sucursal}}</p>
              <!--Iconos en el header-->
              <div white icon-medium>
                <ion-icon (click)="pedidosBtn(item)">
                  <i class="icon icon-truck"></i>
                </ion-icon>
                <ion-icon (click)="recaudos()">
                  <i class="icon icon-currency-usd"></i>
                </ion-icon>
                <ion-icon (click)="factura()">
                  <i class="icon icon-cart"></i>
                </ion-icon>
                <ion-icon (click)="novedades()">
                  <i class="icon icon-comment-alert"></i>
                </ion-icon>
                <ion-icon (click)="gps(item)">
                  <i class="icon icon-map-marker-radius"></i>
                </ion-icon>
              </div>
            </ion-toolbar>
            <!--Informacion del cliente -->
            <ion-item-sliding *ngFor="let item of data" #slidingItem>
              <ion-item no-lines>
                <ion-row>
                  <ion-col>
                    <h2 item-title>{{item.cliente_descripcion_sucursal}}
                    </h2>
                    <p>{{item.cliente_direccion}}</p>
                  </ion-col>
                </ion-row>
                <!--Informacion que se ubica en la parte  izquierda-->
                <div left>
                  <ion-row>
                    <ion-col col-auto>
                      <ion-icon>
                        <i class="icon-bank"></i>
                      </ion-icon>
                    </ion-col>
                    <ion-col col-auto>
                      <p *ngIf="item.cliente_disponible>0">
                        <span item-left>
                          <label>Disponible </label>
                        </span>
                      </p>
                      <p *ngIf="item.cliente_corriente>0">
                        <span item-left>
                          <label>Corriente </label>
                        </span>
                      </p>
                      <p *ngIf="item.cliente_vencido>0">
                        <span item-left>
                          <label>Vencido </label>
                        </span>
                      </p>
                      <p *ngIf="item.cliente_remisiones>0">
                        <span item-left>
                          <label>Remisiones </label>
                        </span>
                      </p>
                      <p *ngIf="item.cliente_pedidos>0">
                        <span item-left>
                          <label>Pedidos </label>
                        </span>
                      </p>
                      <p *ngIf="valor.cliente_saldocxc>0">
                        <span item-left>
                          <label>Cartera: </label>
                        </span>
                      </p>
                    </ion-col>
                    <ion-col col-auto>
                      <p>
                        <span *ngIf="item.cliente_disponible>0" item-right span-small>
                          {{item.cliente_disponible | currency:'COP':'symbol-narrow':'4.0-0'}}
                        </span>
                      </p>
                      <p>
                        <span *ngIf="item.cliente_corriente>0" item-right span-small>
                          {{item.cliente_corriente | currency:'COP':'symbol-narrow':'4.0-0'}}
                        </span>
                      </p>
                      <p>
                        <span *ngIf="item.cliente_vencido>0" item-right span-small>
                          {{item.cliente_vencido | currency:'COP':'symbol-narrow':'4.0-0'}}
                        </span>
                      </p>
                      <p>
                        <span *ngIf="item.cliente_remisiones>0" item-right span-small>
                          {{item.cliente_remisiones | currency:'COP':'symbol-narrow':'4.0-0'}}
                        </span>
                      </p>
                      <p>
                        <span *ngIf="item.cliente_pedidos>0" item-right span-small>
                          {{item.cliente_pedidos | currency:'COP':'symbol-narrow':'4.0-0'}}
                        </span>
                      </p>
                      <p>
                        <span *ngIf="valor.cliente_saldocxc>0" item-right span-small>
                          {{valor.cliente_saldocxc | currency:'COP':'symbol-narrow':'4.0-0'}}
                        </span>
                      </p>
                      <p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-auto>
                      <ion-icon *ngIf="item.cliente_ind_blo_cupo>0">
                        <i class="icon-account-remove "></i>
                      </ion-icon>
                    </ion-col>
                    <ion-col col-auto>
                      <span *ngIf="item.cliente_ind_blo_cupo>0">
                        <label>Bloqueo por Cupo, </label>
                      </span>
                      <span *ngIf="item.cliente_ind_blo_margen>0">
                        <label> Mora, </label>
                      </span>
                      <span *ngIf="item.cliente_ind_blo_mora>0">
                        <label> Margen </label>
                      </span>
                    </ion-col>
                  </ion-row>
  
                  <ion-row>
                    <ion-col col-auto>
                      <ion-icon *ngIf="item.cliente_telefono">
                        <i class="icon icon-phone"></i>
                      </ion-icon>
                    </ion-col>
                    <ion-col col-auto>
                      {{item.cliente_telefono}}
                    </ion-col>
                  </ion-row>
  
                  <ion-row>
                    <ion-col col-auto>
                      <ion-icon *ngIf="item.cliente_email!=''">
                        <i class="icon icon-email"></i>
                      </ion-icon>
                    </ion-col>
                    <ion-col col-auto>
                      <label *ngIf="item.cliente_email!=''">{{item.cliente_email}}</label>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-item>
            </ion-item-sliding>
          </ion-list>
    </ion-grid>
  </ion-content>