<ion-list>
  <ion-item *ngFor="let item of pCompRegistros; let j = index" (click)="onclikItem(item)" no-border>
    <ion-icon name="{{item.imagen}}" item-start *ngIf="pCompBlnImagen"></ion-icon>
    <h2 item-title >{{item.titulo}}</h2>
    <h3 item-subtitle *ngIf="item.subTitulo">{{item.subTitulo}}</h3>
    <h3 item-subtitle *ngIf="item.texto1">{{item.texto1}}</h3>
    <h3 item-subtitle *ngIf="item.texto2">{{item.texto2}}</h3>
    <h3 item-subtitle *ngIf="item.texto3">{{item.texto3}}</h3>
    <button ion-button outline item-end *ngIf="pCompBlnBadge && item.badge !=''" >{{ item.badge }}</button>
    <ion-icon name="ios-arrow-forward" item-end></ion-icon>
  </ion-item>
</ion-list>