comp-lista-completa {
	.item-md,
	.item-ios {
		margin-top: 5px !important;
		padding: 0% !important;
	}
	.item-ios ion-avatar[item-left],
	.item-ios ion-thumbnail[item-left],
	.item-ios ion-avatar[item-start],
	.item-ios ion-thumbnail[item-start],
	.item-md ion-avatar[item-left],
	.item-md ion-thumbnail[item-left],
	.item-md ion-avatar[item-start],
	.item-md ion-thumbnail[item-start] {
		margin: 0px;
		margin-right: 5px;
	}
	.label-md {
		margin: 5px 8px 5px 0;
	}
	.item-md h2,
	.item-ios h2 {
		margin: 2px 0;
		font-size: 1.2rem;
		font-weight: bold;
	}
	.item-ios h3,
	.item-ios h4,
	.item-ios h5,
	.item-ios h6,
	.item-md h3,
	.item-md h4,
	.item-md h5,
	.item-md h6 {
		margin: 2px 0;
		font-size: 1.0rem;
		font-weight: normal;
		line-height: normal;
	}
	.item-ios ion-avatar ion-img,
	.item-ios ion-avatar img ,
	.item-md ion-avatar ion-img,
	.item-md ion-avatar img {
		border-radius: 0%;
	}
	[item-title] {
		color: #455b65 !important;
		font-size: 12px !important;
		letter-spacing: 0px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	[item-subtitle] {
		color: #455b65 !important;
		font-size: 10px !important;
		text-transform: uppercase;
		font-weight: 300 !important;
		letter-spacing: 0px;
		text-overflow: ellipsis;
		overflow: hidden;
    }
    
    .button-outline-md, .button-outline-ios {
        border-width: 0px!important;
        border-style: none!important;
        border-color: #ff3d00!important;
        color: #ff3d00!important;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    [item-end] {
        margin: 0px;
        padding-left: 0px!important;
    }
}
