<ion-header>
  <ion-navbar>
    <ion-title>Solicitar Vacaciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
   <div class="fondo-div">
    <comp-baldosas-auto-gestion [(datos)]="items"></comp-baldosas-auto-gestion>
  </div>
        <h3>Solicitar Vacaciones</h3>
        <ion-row>
          <ion-col col-7>Inicio de vacaciones</ion-col>
          <ion-col col-5>Cantidad de días</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>
              <div class="calendar" ion-button icon-only right >
                <ion-datetime class="date-calendar" displayFormat="YYYY/MM/DD" [min]="fechaMin" showCancelButton color="primary" showCancelButton color="danger" name="fechaInicio"
                  pickerFormat="YYYY/MM/DD" [(ngModel)]="parametrosVacaciones.fechaInicio" (ionChange)='onclikCamposObligatorios($event)' 
                  doneText="Aceptar"  cancelText="Cancelar">
                </ion-datetime>
                <ion-icon name="calendar" right>
                </ion-icon>
              </div>
          </ion-col>
          <ion-col col-4>
            <div class="input-dias" ion-button icon-only right >
              <ion-input name = "dias" [(ngModel)]="parametrosVacaciones.dias" (ionChange)='onclikCamposObligatorios($event)' type="number"> </ion-input>
            </div>
          </ion-col>
        </ion-row>
        <div class="center"> 
          <button class="boton" [disabled]='disabledButton'  ion-button icon-only (click)='presentAlertConfirm();' >
            Solicitar
          </button>
        </div>
        <div *ngIf="transaccionExitosa" class="fondo-div">
          <p class="solicitud-realizada">
            <label> Solicitud de vacaciones realizada con éxito</label><br>
            <label>Inicio vacaciones : </label><label class="respuesta">{{inicioVacaciones | date: 'dd/MM/yyyy'}}</label><br>
            <label>Duración: </label><label class="respuesta">{{duracion}}</label><br><br>
            <label>Fecha de reintegro a la compañia:</label><br>
            <label class="respuesta-fin">{{fechaReintegro | date: 'dd/MM/yyyy'}}</label>
          </p>
        </div>
        <p class="error" *ngIf='error'>seleccione una fecha diferente</p>
        <p class="error" *ngIf="error">{{error}}</p>
</ion-content>
