page-vacaciones {
    .error{
        font-family: inherit;
        line-height: normal;
        color: red;
        text-align: center;
    }

    h3{
        text-align: center;
        font-weight:bold
    }
    
    .fondo-div{
        background: white;
        padding-bottom: 5%;
    }

    ion-col.col{
        text-align: center
    }

    [icon-only] ion-icon, [icon-only] page-item-captura .searchbar .searchbar-input-container .searchbar-search-icon, page-item-captura .searchbar .searchbar-input-container [icon-only] .searchbar-search-icon {
        font-size: 1.8em;
        line-height: .67;
        pointer-events: none;
        padding-left: 22%;
        width: 40%;
    }

    .datetime-ios {
        padding: 11px 1px 8px 1px;
    }

    .datetime-md{
        padding: 17px 1px 15px 1px;
    }
    
    ion-datetime {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .calendar {  
        width: 100%;
        color: #fff;
        background-color: #004B96;
        font-size: 9.5px;
        border-radius: 0.6rem;
        height: 5rem;
        padding-left: 2% !important;
        font-size: 1.8rem;
    }   

    .input-dias{ 
        overflow: hidden;
        width: 100%;
        font-weight: bold;
        color: #fff;
        background-color: #004B96;
        font-size: 9.5px;
        border-radius: 0.6rem;
        margin: 4px 8px 30px 30px;
        padding-left: 40% !important;
        font-size: 3rem;
        height: 5rem;
    }

    .date-calendar{
        font-size: 1.9rem;
    }

    .boton{
        font-weight: bold;
        color: #fff;
        background-color: #004B96;
        border-radius: 0.6rem;
        padding-left: 1% !important;
        font-size: 1.7rem;
        height: 36px;
        padding-right: 1% !important;
    }

    .center{
        text-align: center;
    }

    .solicitud-realizada{
        text-align: center;
        font-size: 1.8rem;
        padding-top:4%; 
    }

    .respuesta{
        font-weight: bold;
    }
    
    .respuesta-fin{
        font-weight: bold;  
        font-size: 2.8rem;      
    }
}
 