<ion-card>
  <ion-card-header>
    ACTUALIZACION DE MAESTRAS
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row wrap padding>
        <ion-col col-12>
          <h5>Tablas {{tablaActual}}/{{tablaTotal}}</h5>
          <h5>{{tabla_sincronizacion}}</h5> 
          <comp-barra-progreso [pCompProgreso]="porcentaje_total"></comp-barra-progreso>
          <h5>Pagina: {{pagina_actual}} de {{pagina_total}} Regs: {{totalRegistros | number}}</h5>
          <comp-barra-progreso [pCompProgreso]="porcentaje_tabla"></comp-barra-progreso>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  <button ion-button full color="danger" (click)="cancelar()" *ngIf="!blnCancelar">cancelar</button>
  <button ion-button full (click)="dismiss()" *ngIf="blnCancelar">aceptar</button>
</ion-card>