page-sincronizacion-progreso {
    .card-md {
        margin: 50% 10px 0px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: white;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .card-content-md {
        padding: 0px; 
        font-size: 1.4rem;
        line-height: 1.5;
    }
    
    .grid {
        padding: 0px; 
    }
    
    .card-header-md {
        font-size: 1.6rem;
        color: white;
        padding: 16px;
        background: #69B3E7;//linear-gradient(to left, #c8cad2 0%, #0091d2 100%);
    }
}
