<ion-header>

  <ion-navbar>
    <ion-title>pedido encabezado total</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngFor="let item of items" no-margin>
    <ion-toolbar header-bcg no-padding no-lines *ngFor="let clientes of cliente" class="Subcabecera">
      <h2>{{titulo}}</h2>
      <h3>{{clientes.tipo_ped}}-{{clientes.cons_ped}}</h3>
    </ion-toolbar>
    <ion-item>
      Bruto:
      <button ion-button outline item-end>{{item.f430_total_bruto | currency:'USD':true:'1.2-2'}}</button>
    </ion-item>
    <ion-item>
      D.Linea:
      <button ion-button outline item-end>{{item.f430_total_dscto_linea | currency:'USD':true:'1.2-2'}}</button>
    </ion-item>
    <ion-item>
      D.Global:
      <button ion-button outline item-end>{{item.f430_total_dscto_global | currency:'USD':true:'1.2-2'}}</button>
    </ion-item>
    <ion-item>
      Impuestos:
      <button ion-button outline item-end>{{item.f430_total_impuestos | currency:'USD':true:'1.2-2'}}</button>
    </ion-item>
    <ion-item>
      Neto:
      <button ion-button outline item-end>{{item.f430_neto | currency:'USD':true:'1.2-2'}}</button>
    </ion-item>
  </ion-list>
</ion-content>