page-kit-bancario {
    .blanco .icon {
		color: white !important;
		-webkit-text-fill-color: white !important;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: white !important;
    }
    
    .error{
        font-family: inherit;
        line-height: normal;
        color: red;
        text-align: center;
    }
    
    .div-area{
        color: #666666;
        text-align: center;
        font-size: 1.6rem;
        padding: 5%;
        padding-top: 0% !important; 
    }
    
    .text-area{
        background-color: #fff;
        border-radius: 0.6rem;
        height: 10rem;
    }    
    
    textarea.text-input{
        padding-top: 5%;
        text-align: center;
    }

    .center{
        text-align: center;
    }
    
    .boton{
        font-weight: bold;
        color: #fff;
        background-color: #004B96;
        border-radius: 0.6rem;
        padding-left: 1% !important;
        font-size: 1.8rem;
        height: 36px;
        padding-right: 1% !important;
    }

    .div-lista{
        padding-top: 5%;
    }
}
