<ion-header>
  <ion-navbar>
    <ion-title>kit Bancario</ion-title>
    <ion-buttons right>
        <button ion-button icon-only (click)="btnCompartir()"
            [disabled]="prvBotonesTitulo.estado">
            <ion-icon item-left icon-medium class="blanco">
                <i class="icon icon-share-variant"></i>
            </ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding >
  <div class="div-area">
    <p>Se compone de 3 desprendibles de pago,
        certificado de ingresos y retenciones y carta
        laboral.</p>
    <p>Dirigido a:</p>
    <ion-textarea [(ngModel)]="titulo" class="text-area"></ion-textarea> 
  </div>
  <div class="center">
    <button class="boton" ion-button icon-only (click)='btnGenerar();' >
      Generar
    </button>
  </div>
  <p class="center" *ngIf="hayRegistros">Selecciona los documentos que quieras compartir</p>  
  <div class="div-lista">
      <comp-lista-check-box [pCompRegistros]="prvRegistos" (eventoClickCheck)="eventoSeleccionItem($event)"
      (eventoClick)="eventoVerDescargado($event)">
      </comp-lista-check-box>
  </div>    
  <p class="error" *ngIf="error">{{error}}</p>
</ion-content>
