<ion-header>
  <ion-navbar>
    <ion-title>Item</ion-title>
  </ion-navbar>
</ion-header>
<ion-content elastic-header>
  <div background-size id="elastic-header" [ngStyle]="{'background-image':
    'url(' + itemSel.item_foto + ')'}" (click)="onClick(imageToView)">
    <img style="display:none" src="{{itemSel.item_foto}}" #imageToView>
  </div>
  
  <div class="centro" no-margin no-border>
    <h2 item-title no-margin no-border>{{itemSel.item_descripcion | uppercase}}</h2>
    <h3 item-subtitle no-margin no-border>{{itemSel.item_resumen | uppercase}}
      Ref: {{itemSel.item_referencia |
      uppercase}}</h3>
    <h3 item-subtitle no-margin no-border>U.M.:
      {{itemSel.item_id_unidad_inventario | uppercase}}</h3>
  </div>

  <ion-card class="centro" color="siesaVerdeClaro" (click)="verPrecios()">
    <ion-card-header item-title no-margin no-border>LISTA DE PRECIOS</ion-card-header>
    <ion-card-content>
      <h2 item-subtitle no-margin no-border> <strong>{{itemResumen['f_lista_precio']}}</strong></h2>
      <h2 item-subtitle no-margin no-border>
        <strong>{{itemResumen['f_prec_vta_neto'] | currency}}</strong>
      </h2>
      <h2 right>ver mas ></h2>  
    </ion-card-content>
  </ion-card>

  <ion-card class="centro" color="siesaNaranja" (click)="verExistencias()">
    <ion-card-header item-title no-margin no-border>BODEGAS</ion-card-header>
    <ion-card-content>
      <h2 item-subtitle no-margin no-border>
        <strong>Existencia : {{itemResumen['f_exist1'] | number}}</strong>
      </h2>
      <h2 item-subtitle no-margin no-border>
        <strong>Disponible : {{itemResumen['f_disponible1'] | number}}</strong>
      </h2>
      <h2 right>ver mas ></h2>  
    </ion-card-content>
  </ion-card>

  <div class="centro">
      <h3 item-subtitle no-margin no-border>T. Inventario : {{itemResumen['f_tipo_inv'] | uppercase}}</h3>
      <h3 item-subtitle no-margin no-border>Grupo Impto. : {{itemResumen['f_grupo_imp'] | uppercase}}</h3>
      <h3 item-subtitle no-margin no-border>Proveedor : {{itemResumen['f_proveedor'] | uppercase}}</h3>  
  </div>

</ion-content>