page-inventarios-detalle {
	.item-md.item-block .item-inner,
	.item-ios.item-block .item-inner {
		border-bottom: none;
	}
	.item-md,
	.item-ios {
		margin-bottom: 5px !important;
		padding: 0% !important;
	}
	.item-ios ion-avatar[item-left],
	.item-ios ion-thumbnail[item-left],
	.item-ios ion-avatar[item-start],
	.item-ios ion-thumbnail[item-start],
	.item-md ion-avatar[item-left],
	.item-md ion-thumbnail[item-left],
	.item-md ion-avatar[item-start],
	.item-md ion-thumbnail[item-start] {
		margin: 0px;
		margin-right: 5px;
	}
	.label-md {
		margin: 5px 8px 5px 0;
	}
	.item-md h2,
	.item-ios h2 {
		margin: 2px 0;
		font-size: 1.2rem;
		font-weight: bold;
	}
	.item-ios h3,
	.item-ios h4,
	.item-ios h5,
	.item-ios h6,
	.item-md h3,
	.item-md h4,
	.item-md h5,
	.item-md h6 {
		margin: 2px 0;
		font-size: 1.0rem;
		font-weight: normal;
		line-height: normal;
	}
	.item-ios ion-avatar ion-img,
	.item-ios ion-avatar img,
	.item-md ion-avatar ion-img,
	.item-md ion-avatar img {
		border-radius: 0%;
	}

	[item-title] {
		color: #455b65 !important;
		font-size: 14px !important;
		font-weight: bold;
		letter-spacing: 0px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	[item-subtitle] {
		color: #455b65 !important;
		font-size: 10px !important;
		text-transform: uppercase;
		font-weight: 300 !important;
		letter-spacing: 0px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	[background-size] {
		height: 180px;
		position: relative;
		background-position: top !important;
	}

	[parallax-title] {
		z-index: 9;
		padding-top: 130px;
		display: block;
		position: relative;
		margin: 0 45px;
	}
	.card-header-ios,
	.card-title-ios,
	.card-content-ios,
	.card-header-md,
	.card-title-md,
	.card-content-md
	  {
		letter-spacing: 0.16px;
		color: #fff!important;
	}

	ion-card {
		border-radius: 10px!important;
		margin-bottom: 10px!important;
	}

}
