<ion-header>

  <ion-navbar>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div>
    <ion-segment [(ngModel)]="segmento" (click)="segmentoClick()">
      <ion-segment-button value="1">
        Pendientes
      </ion-segment-button>
      <ion-segment-button value="2">
        Aprobados
      </ion-segment-button>
      <ion-segment-button value="3">
        Rechazados
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item (click)="aprobacionDocumento(item)"
        [ngClass]="item.bordeIzquierdo">
        <p>{{item.f_fecha_ts | date: 'dd/MM/yyyy H:mm'}} <strong right>{{item.f_pos_secuencia}}
            / {{item.f_total_secuencias}}</strong></p>
        <h2>{{item.f_nombre_solicitante}}</h2>
        <p *ngFor="let doc of item.doctosSplit">{{doc}}</p>
        <p *ngIf="item.f_proveedor">{{item.f_proveedor}}</p>
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </ion-item>
      <ion-item-options side="right" *ngIf="segmento=='1' && item.f_ind_antecesor_pend != '1'">
        <button class="capital" ion-button color="danger">
          Rechazar <br> Todo
        </button>
        <button class="capital" ion-button color="favorite">
          Aprobar <br> Todo
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Elementos: {{contador}}
    </ion-title>
  </ion-toolbar>
</ion-footer>