page-aprobacion-documentos-items {
    .item-md {
        padding-right: 0;
        padding-left: 2px;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: white;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .label-md {
         margin: 2px 2px 0px 0; 
         padding: 0%;
         
    }
    .list-ios  .item-inner {
        margin: 0px;
        padding: 0px;
    }
    .item-ios.item-block .item-inner {
        padding-right: 0px;
    }
    .item-inner {
        margin: 6px;
        padding: 1px;
    }

    .list-md{
        margin: -1px 0 4px; 
    }

    .item-md.item-block .item-inner {   
        padding-right: 0px; 
        border-bottom: 1px solid #dedede;
    }

    .bordeIzquierdoRojo{
        border-left: 7px solid red;
    }

    .bordeIzquierdoVerde{
        border-left: 7px solid green;
    }
}
