<ion-list>
  <ion-item *ngFor="let item of pCompRegistros; let j = index" (click)="onclikItem(item, j)" no-margin no-lines>
    <ion-avatar *ngIf="pCompBlnImagen && item.foto.tipo=='avatar'" item-start>
      <img src="{{item.foto.imagen}}">
    </ion-avatar>
    <ion-icon *ngIf="pCompBlnImagen && item.foto.tipo=='icono'" name="{{item.foto.imagen}}" item-start></ion-icon>
    <h2 item-title>{{item.titulo.texto | uppercase}}</h2>
    <h3 item-subtitle *ngIf="item.subTitulo">{{item.subTitulo.texto | uppercase}}</h3>
    <h3 item-subtitle *ngIf="item.texto1">{{item.texto1.texto | uppercase}}</h3>
    <h3 item-subtitle *ngIf="item.texto2">{{item.texto2.texto | pipeDinamico:item.texto2['tipo']}}</h3>
    <h3 item-subtitle *ngIf="item.texto3">{{item.texto3.texto | uppercase}}</h3>
    <h3 item-subtitle *ngIf="item.texto4">{{item.texto4.texto | uppercase}}</h3>
    <h3 item-derecha item-end *ngIf="item.derecha1">{{item.derecha1.texto | pipeDinamico:item.derecha1['tipo']}}</h3>
    <ion-icon name="ios-arrow-forward" item-end></ion-icon>
  </ion-item>
</ion-list>
<ion-infinite-scroll [enabled]="pCompBlnScrollEvento" (ionInfinite)="onScroll($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>