<!--
  Generated template for the RecaudosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Recaudos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="span">
    <ion-toolbar header-bcg no-padding no-lines class="Subcabecera">
      ALMACENES LA 14
    </ion-toolbar>
    <comp-lista-completa [pCompRegistros]="cartera" (click)='clickitem("combo")'></comp-lista-completa>
    <comp-lista-completa [pCompRegistros]="otros" (click)='clickitem("otros")'></comp-lista-completa>
    <ion-toolbar footer  no-lines class="Footer"> Aplicado : </ion-toolbar>
  </ion-card>
  <ion-card>
    <ion-toolbar header-bcg no-padding no-lines class="Subcabecera">
      Por aplicar
    </ion-toolbar>
    <comp-lista-completa [pCompRegistros]="aldia" (click)='clickitem("aldia")'></comp-lista-completa>
    <comp-lista-completa [pCompRegistros]="postfechado"></comp-lista-completa>
    <ion-toolbar footer  no-lines class="Footer"> Recaudado : </ion-toolbar>

  </ion-card>
</ion-content>