<ion-header>
  <ion-navbar>
    <ion-title>Parametros</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="form-content">
  <ion-row>
    <ion-item>
      <ion-label floating color="primary">Observaciones:</ion-label>
      <ion-input type="textarea" [(ngModel)]="tareaSeleccionada.c0847_observaciones"></ion-input>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button icon-start full color="favorite" (click)="guardarObservacion()" navPop>
            <ion-icon name='md-checkmark'></ion-icon>aceptar
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button icon-start full color="danger" (click)="limpiarCampo()" navPop>
            <ion-icon name="md-close"></ion-icon>Cancelar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>
</ion-content>
