<!-- Generated template for the TareasComponent component -->
<div>
  <ion-list>
    <ion-item-sliding *ngFor="let tarea of actividad.tareas; let i = index" #slidingItem>
      <ion-item>
        <ion-label>{{tarea.c0847_descripcion_tarea}}</ion-label>
        <ion-checkbox color="dark" [(ngModel)]='tarea.c0847_ind_ejecucion' [disabled]="disabledActividad()" checked="false"></ion-checkbox>
      </ion-item>
      <ion-item-options side="right" *ngIf="!disabledActividad()">
        <button (click)="openModal(tarea,slidingItem)" ion-button color="primary">
          <!-- <ion-icon name=""></ion-icon> -->
          Observaciones
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div>
