<ion-header>
  <ion-navbar color="siesaNaranja">
    <ion-title>bodegas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content elastic-header>
  <div background-size id="elastic-header" [ngStyle]="{'background-image':
    'url(' + itemSel.item_foto + ')'}" (click)="onClick(imageToView)">
    <img style="display:none" src="{{itemSel.item_foto}}" #imageToView>
  </div>

  <div class="centro" no-margin no-border>
    <h2 item-title no-margin no-border>{{itemSel.item_descripcion | uppercase}}</h2>
    <h3 item-subtitle no-margin no-border>{{itemSel.item_resumen | uppercase}}
      Ref: {{itemSel.item_referencia |
      uppercase}}</h3>
    <h3 item-subtitle no-margin no-border>U.M.:
      {{itemSel.item_id_unidad_inventario | uppercase}}</h3>
    <h2 item-title no-margin no-border>{{bodegaSel.bodega}} {{
      bodegaSel.desc_bodega | uppercase}}</h2>
  </div>
  <div padding>
    <ion-item no-border *ngFor="let item of items; let j= index">
      <h2 item-title no-margin no-border>{{item.titulo}}</h2>
      <h3 item-subtitle *ngIf="item.subTitulo">{{item.subTitulo}}</h3>
      <h3 item-subtitle *ngIf="item.texto1">{{item.texto1}}</h3>
      <h3 item-subtitle *ngIf="item.texto2">{{item.texto2}}</h3>
      <h3 item-subtitle *ngIf="item.texto3">{{item.texto3}}</h3>
      <strong right darkred *ngIf="item.badge">{{ item.badge | number}} </strong>
    </ion-item>
  </div>
</ion-content>