<ion-header>
  <ion-navbar>
    <ion-title>Filtros</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <ion-label floating>Tipo de Inventario</ion-label>
        <ion-select [(ngModel)]="tInventarioSel" (ngModelChange)="cambiaDatos($event)" >
            <ion-option *ngFor="let inventa of tInventarios" [value]="inventa['f_id']">
                {{inventa['f_descripcion'] | uppercase}}
            </ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label floating>Plan/Criterio</ion-label> 
        <ion-select [(ngModel)]="planCriterioSel">
          <ion-option value="genesis">Sega Genesis</ion-option>
          <ion-option value="saturn">Sega Saturn</ion-option>
          <ion-option value="snes">SNES</ion-option>
        </ion-select>
    </ion-item>  
    <ion-item>
        <ion-label floating>Lista de Precio</ion-label>
        <ion-select [(ngModel)]="tLprecioSel" (ngModelChange)="cambiaDatos($event)" >
            <ion-option *ngFor="let lp of tLprecios" [value]="lp['f_id']">
               {{lp['f_descripcion'] | uppercase}}
            </ion-option>
        </ion-select>
    </ion-item>  
    <ion-item>
        <ion-label floating>Bodega</ion-label>
        <!-- <ion-select [(ngModel)]="tBodegasSel" (ngModelChange)="cambiaDatos($event)" disabled ="{{tGBodegasSel != 'null'}}" > -->
        <ion-select [(ngModel)]="tBodegasSel" (ngModelChange)="cambiaDatos($event)">
            <ion-option *ngFor="let bodega of tBodegas" [value]="bodega['f_id']">
               {{bodega['f_descripcion'] | uppercase}}
            </ion-option>
        </ion-select>
    </ion-item>  
    <ion-item>
        <ion-label floating>Grupo de Bodegas</ion-label>
        <!-- <ion-select [(ngModel)]="tGBodegasSel" (ngModelChange)="cambiaDatos($event)" disabled ="{{tBodegasSel != 'null'}}" > -->
        <ion-select [(ngModel)]="tGBodegasSel" (ngModelChange)="cambiaDatos($event)">
            <ion-option *ngFor="let gbodega of tGBodegas" [value]="gbodega['f_id']">
               {{gbodega['f_descripcion'] | uppercase}}
            </ion-option>
        </ion-select>
    </ion-item>  
    <ion-item>
      <ion-label>Ver imagenes</ion-label>
      <ion-toggle [(ngModel)]="blnVerImagenes" (ngModelChange)="cambiaDatos($event)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
