
page-inventarios-preferencias {
	.text-to-change div {
		margin: 10px auto;
	}

	ion-row,
	ion-col {
		padding: 0;
	}

	popover-wrapper{
		left: 10px!important;
	}

	.text-button {
		padding-left: 0;
		text-align: center;
		min-height: 20px;
		line-height: 18px;
	}

	.text-button .item-inner {
		padding-right: 0;
	}

	.text-smaller {
		font-size: 12px;
	}

	.text-larger {
		font-size: 16px;
	}

	.row-dots {
		text-align: center;

		.dot {
			height: 30px;
			width: 30px;
			border-radius: 50%;
			margin: 10px auto;
			position: relative;
		}
	}

	.dot-white {
		background-color: rgb(255, 255, 255);
	}

	.dot-tan {
		background-color: rgb(249, 241, 228);
	}

	.dot-grey {
		background-color: rgb(76, 75, 80);
	}

	.dot-black {
		background-color: rgb(0, 0, 0);
	}

	.dot.selected {
		border-width: 2px;
		border-color: #327eff;
	}

	.text-athelas {
		font-family: "Athelas";
	}

	.text-charter {
		font-family: "Charter";
	}

	.text-iowan {
		font-family: "Iowan";
	}

	.text-palatino {
		font-family: "Palatino";
	}

	.text-san-francisco {
		font-family: "San Francisco";
	}

	.text-seravek {
		font-family: "Seravek";
	}

	.text-times-new-roman {
		font-family: "Times New Roman";
	}
}

.popover-page {
	.text-smaller,
	.row-dots,
	.dot {
		border-width: $hairlines-width;
	}
}
