page-certificado-ingreso-rertenciones {
    input, select, textarea {
        font-family: inherit;
        line-height: normal;
        color: red;
        text-align: center;
    }
    
    .error{
        font-family: inherit;
        line-height: normal;
        color: red;
        text-align: center;
    }

    .ion-content-con-imagen{
        background-image: url('../assets/images/certIngyRet.png');
        background-repeat: no-repeat;
        right: 0;        
        display: block;
        background-size: contain;
        background-size: auto 50%;
        background-attachment: fixed;
        background-position: center;
    }
    .tableros {
        color: gray;
        text-align: center;
        padding-top: 10%;
        padding-left: 25%;
        padding-right: 5%;
    }
    .blanco .icon {
		color: white !important;
		-webkit-text-fill-color: white !important;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: white !important;
	}
}

