<ion-header>
    <ion-navbar>
        <ion-title>Certificado Ingreso Rertenciones</ion-title>
        <ion-buttons right>
            <button ion-button icon-only  [disabled]='prvBotonesTitulo.estado' (click)='btnCompartir();'>
                <ion-icon item-left icon-medium class="blanco">
                    <i class="{{prvBotonesTitulo.imagen}}"></i>
                </ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <comp-combo-select [pCmptRegistros]="prvAnos" pCmptTitulo="Seleccione el año:" (eventoClick)='eventoSeleccionAnio($event)'></comp-combo-select>
    </ion-toolbar>
</ion-header>

<ion-content padding [ngClass]="(!contHiden) ? 'ion-content-con-imagen': '' ">
    <h6 *ngIf="!overlayHidden" class="tableros">Aun no tiene certificados, busquelos aqui</h6>
    <p *ngIf="!error && nombrePdf">Selecciona los documentos que quieras compartir</p>
    <comp-lista-check-box [pCompRegistros]="nombrePdf" (eventoClickCheck)="eventoClickItem($event)" [pCompBlnBtn]="true"
        (eventoClick)="eventoClickVer($event)" [pCompBtnImagen]="'md-eye'">
    </comp-lista-check-box>
    <p class="error" *ngIf="error">{{error}}</p>
</ion-content>