<ion-item *ngFor='let item of pCompRegistros; let j = index'no-border>
    <h2>{{item.titulo}}</h2>
    <h3>{{item.texto1}}</h3>
    <h3>{{item.texto2}}</h3>
    <ion-icon name="ios-arrow-forward" item-end></ion-icon>
  </ion-item>
