<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Comercial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <comp-baldosas [datos]='datos' [columnas]="3" (eventoClick)="selbaldosa($event)"></comp-baldosas>
  </div>
  <p>
    <comp-lista-completa [pCompRegistros]="items" [pCompBlnBadge]='true'></comp-lista-completa>
  </p>
</ion-content>

<ion-footer>
  <comp-tab [datos]='tab' (eventoClick)="fnLlenarLista($event)"></comp-tab>
</ion-footer>