comp-barra-progreso {

    .progress-outer{
        position: relative;
        width: 96%;
        margin: 10px 2%;
        padding: 3px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    
      }
      .texto-flotante{
        position: relative;
        z-index: 1;
        text-align: center;
      }
       .progress-inner {
         position: relative;
         min-width: 30%;
         white-space: nowrap;
         overflow: hidden;
         padding: 5px;
         border-radius: 20px;
         background: #69B3E7;//linear-gradient(to left, #00bee4 0%, #0091d2 100%);
         z-index: 2;
       }    
}
