<div class="progress-outer">
  <!-- <div *ngIf="pTextoProgreso" class="texto-flotante" >{{textoMostrar()}}</div> -->
  <div class="progress-inner" [style.width]="pCompProgreso +'%'" [style.background]="validarColores()">
    {{textoMostrar()}}
  </div>
</div>
