<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>sincronizar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <comp-lista-completa [pCompBlnImagen]="true" (eventoClick)="accion($event)" [pCompRegistros]="regLista"></comp-lista-completa>
</ion-content>