<ion-card>
    <ion-card-header no-padding>
        <ion-navbar estiloEncabezado>
            <ion-title>{{pCmptChartTituloStr}}</ion-title>
            <ion-buttons right *ngIf="vPrivblnFiltro==true">
                <button ion-button icon-only>
                  <ion-icon name="funnel"></ion-icon>
                </button>
              </ion-buttons>
        </ion-navbar>                          
    </ion-card-header>
    <ion-card-content>
      <div style="display: block" *ngIf="vPrivTipoGrafica=='bar'">
        <!--
        <canvas baseChart
          [datasets]="pCmptChartDataAny"
          [labels]="pCmptChartLabelsArr"
          [options]="pCmptChartOptionsAny"
          [legend]="pCmptChartLegendBln"
          [chartType]="pCmptChartTipoGraficaStr"       
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        -->
      </div>
      <div style="display: block" *ngIf="pCmptChartTipoGraficaStr=='pie' || pCmptChartTipoGraficaStr=='doughnut'">
        <!--
        <canvas baseChart
          [data]="pCmptChartDataAny"
          [labels]="pCmptChartLabelsArr"
          [chartType]="pCmptChartTipoGraficaStr"        
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        -->
      </div>
    </ion-card-content>
  </ion-card>  
  