<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Aprobaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <comp-baldosas [(datos)]="items" (eventoClick)="openSubGallery($event)"></comp-baldosas>
</ion-content>
