<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group *ngFor="let group of notificaciones">
    <ion-item-divider light>{{group.grupo}}</ion-item-divider>
        <button ion-item *ngFor="let noti of group.notificaciones" (click)="itemSelected(noti)">
            <h2>{{noti.cliente | uppercase}}</h2>
            <h3>{{noti.documento | uppercase}}</h3>
          </button>          
  </ion-item-group>
</ion-content>