page-pedido {
    .emptystate{
        text-align: center;
        padding-top: 40%;
    }
    .action-sheet-ios .action-sheet-group {
        /* border-radius: 13px; */
        /* margin-bottom: 8px; */
        text-align: center;
        background: #f9f9f9;
    }
    .action-sheet-md .action-sheet-title {
        text-align: left;
        text-align: center;
        font-size: 1.6rem;
        color: #202020;
        /* padding: 11px 16px 17px; */
    }

    .titulosheet {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        //color: white;
        pointer-events: auto;
    }
}
