<ion-header>
  <ion-toolbar>
    <ion-navbar>
      <ion-title>Pedido</ion-title>
    </ion-navbar>
    <ion-buttons right>
      <button ion-button icon-only class="btnAdd" (click)='nuevoItem("uno");'>
        <ion-icon name="add" right></ion-icon>
      </button>
      <button ion-button icon-only (click)="abrirPreferencias($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <comp-subheader [pCompRegistros]='items'></comp-subheader>
</ion-header>

<ion-content padding>
  <div class='emptystate' *ngIf='pedido==""' >
    <h2 center>Aun no tiene productos en su pedido</h2>
    <button ion-button center (click)='nuevoItem("cero");'>Añadir Productos</button>
  </div>
  <ion-list *ngIf="pedido!=''">
    <ion-item-sliding *ngFor="let item of pedido; let j = index">
      <ion-item no-border>
        <ion-avatar *ngIf="pCompBlnImagen" item-start>
          <img src="{{item.imagen}}">
        </ion-avatar>
        <h2 item-title>{{item.titulo}}</h2>
        <h3 item-subtitle *ngIf="item.subTitulo">{{item.subTitulo}}</h3>
        <h3 item-subtitle *ngIf="item.texto1">{{item.texto1}}</h3>
        <h3 item-subtitle *ngIf="item.texto2">{{item.texto2}}</h3>
        <h3 item-subtitle *ngIf="item.texto3">{{item.texto3}}</h3>
        <button ion-button outline item-end *ngIf="item.badge !=''">{{ item.badge }}</button>
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button>Editar</button>
        <button ion-button color="danger" (click)='eliminarItem(j)'>Eliminar</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
 <comp-actionsheet (eventoClick)='presentActionSheet();' [pCompRegistros]='registrosheet'></comp-actionsheet>
</ion-footer>