<ion-item miBorde>
  <ion-label floating >{{pCompLabel}}</ion-label>
  <ion-datetime [(ngModel)]="prvFechaModelo" displayFormat="{{prvFormatoSel}}" doneText="Aceptar"
    cancelText="Cancelar" pickerFormat="{{prvFormatoSel}}"></ion-datetime>
</ion-item>