comp-lista-acordion {
    .list-md {
        margin: 0px;
    }

    .list-ios {
        margin: -1px 0 2px;
    }

    .nomargin {
        margin: 0 !important;
    }

    .accordion-header {
        color: white;

        .item-inner {
            margin-left: 0 !important;
        }

        ion-icon {
            transition: all .25s ease-in;
            transform: rotate(0);
        }
    }

    .active ion-icon {
        transform: rotate(90deg)!important;
    }

    .accordion-content {
        transition: 0.3s ease-in-out;
        &.active {
            padding: .75rem;
        }
    }

    .label {
        margin: 0px;
    }

    .button-outline-md {
        border-width: 1px;
        border-style: solid;
        border-color: invert($color: #000000);
        color: invert($color: #000000);
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }    

    .list-header-md {
        padding-left: 0px;
        margin-bottom: 1px;
        min-height: 4.5rem;
        border-top: 1px solid #dedede;
        font-size: 1.4rem;
        color: #757575;
    }
 
    comp-lista-completa .item-md ion-icon[item-left], comp-lista-completa .item-md ion-icon[item-right], comp-lista-completa .item-md ion-icon[item-start], comp-lista-completa .item-md ion-icon[item-end] {
        -webkit-transform: none;
        transform: none!important;
        margin: 0px !important;
    }
}
