<ion-list>
  <ion-list-header no-lines no-padding>
    <button ion-item detail-none [style.background]="pCompEncabezadoColor" (click)="toggleAccordion()" class="accordion-header"
      [class.active]="pCompBlnExpandir">
      <ion-icon item-left name="ios-arrow-forward">
      </ion-icon>
      {{ pCompTitulo }}
      <button ion-button outline item-end *ngIf="pCompBlnContador">{{ pCompNumContador }}</button>
    </button>
    <section #accordionContent [style.background]="pCompContenedorColor" [class.active]="pCompBlnExpandir" class="accordion-content">
      <ng-content></ng-content>
    </section>
  </ion-list-header>
</ion-list>