<ion-header>
  <ion-navbar color="siesaNaranja">
    <ion-title>bodegas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content elastic-header>
  <div background-size id="elastic-header" [ngStyle]="{'background-image':
    'url(' + itemSel.item_foto + ')'}" (click)="onClick(imageToView)">
    <img style="display:none" src="{{itemSel.item_foto}}" #imageToView>
  </div>

  <div class="centro" no-margin no-border>
    <h2 item-title no-margin no-border>{{itemSel.item_descripcion | uppercase}}</h2>
    <h3 item-subtitle no-margin no-border>{{itemSel.item_resumen | uppercase}}
      Ref: {{itemSel.item_referencia |
      uppercase}}</h3>
    <h3 item-subtitle no-margin no-border>U.M.:
      {{itemSel.item_id_unidad_inventario | uppercase}}</h3>
    <h2 item-title no-margin no-border>{{bodegaSel.bodega}} {{ bodegaSel.desc_bodega | uppercase}}</h2>
  </div>

  <ion-list padding>
    <ion-item (click)="verLoteSerialPG('E')">
      <h2 item-subtitle >Existencia :
        <strong > {{ bodegaSel.cant_existencia | number}}</strong>
      </h2>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item (click)="verLoteSerialPG('C')">
      <h2 item-subtitle >Comprometida :
        <strong > {{ bodegaSel.cant_comprometida | number}}</strong>
      </h2>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item (click)="verLoteSerialPG('D')">
      <h2 item-subtitle>Disponible :
        <strong > {{ bodegaSel.cant_disponible | number}}</strong>
      </h2>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item (click)="verLoteSerialPG('O')">
      <h2 item-subtitle >Orden de compra:
        <strong > {{ bodegaSel.cant_pend_entrar | number}}</strong>
      </h2>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item>
      <h2 item-subtitle >Inventario Fisico :
        <strong >0</strong>
      </h2>
    </ion-item>
    <ion-item>
      <h2 item-subtitle >En POS :
        <strong >0</strong>
      </h2>
    </ion-item>
    <ion-item (click)="verLoteSerialPG('I')">
      <h2 item-subtitle >En Inspeccion :
        <strong >{{ bodegaSel.f_cant_inspeccion | number}}</strong>
      </h2>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item (click)="verLoteSerialPG('T')">
      <h2 item-subtitle >En transito :
        <strong >0</strong>
      </h2>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>