<ion-header>

  <ion-navbar>
    <ion-title>Campos actividaes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button icon-start full color="favorite" (click)="regresar()">
          <ion-icon name='md-checkmark'></ion-icon>Aceptar
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button icon-start full (click)="cargarCamposVerDefecto()">
          <ion-icon name='md-checkmark'></ion-icon>Campos por defecto
        </button>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-item *ngFor="let campo of campos">
        <ion-label>{{campo.label}}</ion-label>
        <ion-checkbox color="dark" [(ngModel)]="campo.seleccionado" [checked]="campo.seleccionado"></ion-checkbox>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
