<ion-content>
  <ion-card card card-sm>
    <div>
      <img class="centrado" [src]="obtenerFoto(actividadSel.f_foto)" />
    </div>
    <ion-card-content>
      <ion-card-title>
        {{actividadSel.trabajo}}
      </ion-card-title>
      <p>
        {{ actividadSel.c0822_notas}}
        
      </p>
    <div style="text-align: center">
      {{ actividadSel.c0820_id_tipo_docto }}-{{actividadSel.c0820_consec_docto}}
    </div>
    </ion-card-content>
  </ion-card>
  <div>
    <div padding>
      <ion-segment [(ngModel)]="opActividad">
        <ion-segment-button value="procedimiento">
          Procedimiento
        </ion-segment-button>
        <ion-segment-button value="repuestos">
          Repuestos
        </ion-segment-button>
        <ion-segment-button value="documentos">
          Documentos
        </ion-segment-button>
        <ion-segment-button value="fotos">
          Fotos
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="opActividad">
      <!-- Procedimiento -->
      <ion-list *ngSwitchCase="'procedimiento'">
        <ion-card>
          <ion-card-content>
            <p>
              {{actividadSel.procedimiento}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <!-- Procedimiento ************-->
      
      <!-- Repuestos -->
      <ion-list *ngSwitchCase="'repuestos'">
        <repuestos [c0822_rowid]="actividadSel.id"></repuestos>
      </ion-list>
      <!-- Repuestos ************-->
      <!-- Documentos -->
      <ion-list *ngSwitchCase="'documentos'">
        <comp-explorador-archivos [pCmptArchivosCarpeta]="'Mantenimiento'" [pCmptArchivosLegendBln]="true" [pCmptArchivosFiltro]="actividadSel.c0808_referencia"></comp-explorador-archivos>
      </ion-list>
      <!-- Documentos ***********-->
      
      <!-- Fotos -->
      <ion-list *ngSwitchCase="'fotos'">
        <camera [c0822_rowid]="actividadSel.id"></camera>
      </ion-list>
      <!-- Fotos ***********-->
    </div>
  </div>
</ion-content>