<comp-encabezado-menu-principal [pCmptTitulo]="'Componentes'" [pCmptBotonesDerecha]="prvBotonesTitulo" (eventoClick)="clickBotontitulo($event)"></comp-encabezado-menu-principal>

<ion-content has-header style="margin-top: 50px">
    <div padding>
        <ion-segment [(ngModel)]="selectSegmento">
            <ion-segment-button value="componentes">
                Componentes
            </ion-segment-button>
            <ion-segment-button value="configuraciones">
                Configuraciones
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="selectSegmento">
        <div *ngSwitchCase="'componentes'">
            <ion-list no-lines>
                <ion-list-header>
                    Inputs
                </ion-list-header>
                <comp-input [pCompTipoInput]="'text'" [pCompLabel]="controlInput.texto.label" [pCompModelo]="controlInput.texto.modelo" [pCompNombre]="controlInput.texto.nombre"
                    [pCompPlaceHolder]="controlInput.texto.placeholder" [pCompSoloLectura]="false" [pCompLimpiarAlEditar]="false"
                    [pCompBotonLimpiar]="false" (eventoEnter)="enterKey()" [pCompMascara]="'texto'">
                </comp-input>
                <comp-input [pCompTipoInput]="'number'" [pCompLabel]="controlInput.numero.label" [pCompModelo]="controlInput.numero.modelo"
                    [pCompNombre]="controlInput.numero.nombre" [pCompPlaceHolder]="controlInput.numero.placeholder" [pCompSoloLectura]="false"
                    [pCompLimpiarAlEditar]="false" [pCompBotonLimpiar]="false" (eventoEnter)="enterKey()" [pCompMascara]="'numeros'">
                </comp-input>
                <comp-input [pCompTipoInput]="'date'" [pCompLabel]="controlInput.fecha.label" [pCompModelo]="controlInput.fecha.modelo" [pCompNombre]="controlInput.fecha.nombre"
                    [pCompPlaceHolder]="controlInput.fecha.placeholder" [pCompSoloLectura]="false" [pCompLimpiarAlEditar]="false"
                    [pCompBotonLimpiar]="false" (eventoEnter)="enterKey()" [pCompMascara]="'telefono'">
                </comp-input>
                <comp-input-fechas pCompLabel='Año' [pCompModelo]="fecha" pCompFormatoFecha='ano'></comp-input-fechas>
                <comp-input-fechas pCompLabel='Periodo' [pCompModelo]="fecha" pCompFormatoFecha='periodo'></comp-input-fechas>
                <comp-input-fechas pCompLabel='Fecha' [pCompModelo]="fecha" pCompFormatoFecha='completa'></comp-input-fechas>
                <comp-input-fechas pCompLabel='Hora 24' [pCompModelo]="fecha" pCompFormatoFecha='hora24'></comp-input-fechas>
                <comp-input-fechas pCompLabel='Hora 12' [pCompModelo]="fecha" pCompFormatoFecha='hora12'></comp-input-fechas>
                <comp-input-fechas pCompLabel='Hora timestamp' [pCompModelo]="fecha" pCompFormatoFecha='timestamp'></comp-input-fechas>
                <ion-list-header>
                    Listas
                </ion-list-header>
                <ion-item>
                    Acordion
                    <comp-lista-acordion *ngFor="let item of items; let index = index" [pCompTitulo]="item.titulo" [pCompNumContador]="item.badge"
                        pCompBlnContador="true" [pCompBlnExpandir]="index === 0">
                        <comp-lista-completa [pCompBlnBadge]="'true'" [pCompRegistros]="item.registros" (eventoClick)="clickLista($event)">
                        </comp-lista-completa>
                    </comp-lista-acordion>
                    Acordion desde grupo
                    <comp-lista-acordion *ngFor="let item of objEjemplos | pipeObjAgruparPor : 'prop'; let index = index" [pCompTitulo]="item.key"
                        [pCompBlnExpandir]="index === 0">
                        <comp-lista-completa [pCompRegistros]="item.value" (eventoClick)="clickLista($event)">
                        </comp-lista-completa>
                    </comp-lista-acordion>
                </ion-item>
                <ion-list-header>
                    Administrador de archivos
                </ion-list-header>
                <ion-item>
                    <comp-explorador-archivos [pCmptArchivosCarpeta]="'mantenimiento'" [pCmptArchivosLegendBln]="true" [pCmptArchivosFiltro]="1"></comp-explorador-archivos>
                </ion-item>
                <ion-list-header>
                    Pipes
                </ion-list-header>
                <ion-item>
                    <p>Letra Capital : {{controlInput.texto.modelo | pipeLetraCapital}}</p>
                    <p>Fecha estandar : {{fecha | pipeFechaEstandar}}</p>
                    <p>Fecha hace... : {{fecha | pipeFechaHaceUnTiempo}}</p>
                    <p>Fecha restar : {{fecha | pipeFechaRestar : 5 : 'anos' | pipeFechaEstandar}}</p>
                    <p>fecha sumar : {{fecha | pipeFechaSumar : 5 : 'dias' | pipeFechaEstandar}}</p>
                    <p>Fecha hace... combinado : {{fecha | pipeFechaRestar : 3 :'horas' | pipeFechaHaceUnTiempo }}</p>
                    <p>Fecha Hora : {{fecha | pipeFechaTiempo }}</p>
                    <p>Fecha periodo : {{fecha | pipeFechaPeriodo }}</p>
                    <p>Fecha diferencia : {{ fecha | pipeFechaEstandar}} - {{fechados | pipeFechaEstandar}} : {{fecha | pipeFechaDiferencia
                        : fechados :'dias' : true}}</p>
                </ion-item>

                <comp-combo-select pCmptTitulo="Componente Combo" [pCmptRegistros]="objEjemplos" pCmptOrdenarPor='id' [pCmptModelo]="comboModelo"
                    pCmptInterface="" (eventoClick)="clickCombo($event)"></comp-combo-select>

                <ion-list-header>
                    NFC
                </ion-list-header>
                <ion-item>
                    <p>NFC ID : {{miNFC.id}}</p>
                    <p>NFC mensaje : {{miNFC.mensaje}}</p>
                </ion-item>
            </ion-list>
        </div>

        <div *ngSwitchCase="'configuraciones'">
            <h5>Open settings</h5>
            <button ion-button color="secondary" full (click)="diagnostic.switchToSettings()">Configuracion Aplicacion</button>
            <button ion-button full (click)="diagnostic.switchToLocationSettings()">Configuracion GPS</button>
            <button ion-button full (click)="diagnostic.switchToBluetoothSettings()">Configuracion Bluetooth</button>
            <button ion-button full (click)="diagnostic.switchToWifiSettings()">Configuracion WIFI</button>
            <button ion-button full (click)="diagnostic.switchToMobileDataSettings()">Configuracion datos moviles</button>
            <button ion-button full (click)="diagnostic.switchToWirelessSettings()">Configuracion Redes</button>
            <button ion-button full (click)="diagnostic.switchToNFCSettings()">Configuracion NFC</button>
            <h5>Request permissions</h5>
            <!--
            <button class="os-conditional ios" disabled="{{diagnosticService.canRequestLocationAuthorization() ? '' : 'disabled'}}" ion-button
                full (click)="diagnosticService.requestLocationAuthorization(diagnostic.locationAuthorizationMode.ALWAYS)">
                Request Location Usage Always</button>
            <button class="os-conditional ios" disabled="{{diagnosticService.canRequestLocationAuthorization() ? '' : 'disabled'}}" ion-button
                full (click)="diagnosticService.requestLocationAuthorization(diagnostic.locationAuthorizationMode.WHEN_IN_USE)">
                Request Location When In Use</button>
            <button  disabled="{{diagnosticService.canRequestLocationAuthorization() ? '' : 'disabled'}}"
                ion-button full (click)="diagnosticService.requestLocationAuthorization()">
                Request Location Permission</button>
            <button class="os-conditional ios" disabled="{{diagnosticService.canRequestBluetoothAuthorization() ? '' : 'disabled'}}"
                ion-button full (click)="diagnosticService.requestBluetoothAuthorization()">
                Request Bluetooth Permission</button>
            <button class="os-conditional android ios" disabled="{{diagnosticService.canRequestCameraAuthorization() ? '' : 'disabled'}}"
                ion-button full (click)="diagnosticService.requestCameraAuthorization()">
                Request Camera Permission</button>
            <button class="os-conditional ios" disabled="{{diagnosticService.canRequestCameraRollAuthorization() ? '' : 'disabled'}}"
                ion-button full (click)="diagnosticService.requestCameraRollAuthorization()">
                Request Camera Roll Permission</button>
            <button class="os-conditional android ios" disabled="{{diagnosticService.canRequestMicrophoneAuthorization() ? '' : 'disabled'}}"
                ion-button full (click)="diagnosticService.requestMicrophoneAuthorization()">
                Request Microphone Permission</button>
            <button class="os-conditional android ios" disabled="{{diagnosticService.canRequestContactsAuthorization() ? '' : 'disabled'}}"
                ion-button full (click)="diagnosticService.requestContactsAuthorization()">
                Request Contacts Permission</button>
            <button class="os-conditional android ios" disabled="{{diagnosticService.canRequestCalendarAuthorization() ? '' : 'disabled'}}"
                ion-button full (click)="diagnosticService.requestCalendarAuthorization()">
                Request Calendar Permission</button>
            <button class="os-conditional ios" disabled="{{diagnosticService.canRequestRemindersAuthorization() ? '' : 'disabled'}}"
                ion-button full (click)="diagnosticService.requestRemindersAuthorization()">
                Request Reminders Permission</button>
            <button class="os-conditional ios" disabled="{{diagnosticService.canRequestMotionAuthorization() ? '' : 'disabled'}}" ion-button
                full (click)="diagnosticService.requestAndCheckMotionAuthorization()">
                Request/Check Motion Permission</button>
            <button  disabled="{{diagnosticService.canRequestExternalStorageAuthorization() ? '' : 'disabled'}}"
                ion-button full (click)="diagnosticService.requestExternalStorageAuthorization()">
                Request External Storage Permission</button>

            <h5>Use permissions</h5>
            <button disabled="{{diagnosticService.isLocationAvailable() ? '' : 'disabled'}}" ion-button full (click)="showCurrentLocation()">Show Current Location</button>
            <button disabled="{{diagnosticService.isCameraAvailable() ? '' : 'disabled'}}" ion-button full (click)="useCamera()">Use Camera</button>
            <button *ngIf="diagnosticService.canEnableBluetooth()"  ion-button full (click)="enableBluetooth()">Enable Bluetooth</button>
            <button *ngIf="diagnosticService.canDisableBluetooth()"  ion-button full (click)="disableBluetooth()">Disable Bluetooth</button>
            <button *ngIf="diagnosticService.canEnableWifi()"  ion-button full (click)="enableWifi()">Enable Wifi</button>
            <button *ngIf="diagnosticService.canDisableWifi()"  ion-button full (click)="disableWifi()">Disable Wifi</button>
            <button  disabled="{{diagnosticService.canGetExternalStorageDetails() ? '' : 'disabled'}}"
                ion-button full (click)="getExternalStorageDetails()">Get External Storage Details</button>
            <button  disabled="{{writableExternalStoragePath ? '' : 'disabled'}}" ion-button full (click)="writeToExternalStorage()">Write to External Storage</button>
            <button *ngIf="!isBackgroundFetching()" class="os-conditional ios" ion-button full (click)="startBackgroundFetching()">Start BG Fetching</button>
            <button *ngIf="isBackgroundFetching()" class="os-conditional ios" ion-button full (click)="stopBackgroundFetching()">Stop BG Fetching</button>

            -->
        </div>
        <comp-calendario></comp-calendario>
    </div>

</ion-content>