page-clientes {
    .span {
        font-size: 14px;
        font-weight: bold;
        color: black;
        margin-top: 35px;
    }
    .item-md ion-icon[item-left],
    .item-md ion-icon[item-right],
    .item-md ion-icon[item-start],
    .item-md ion-icon[item-end] {
        margin: 0px;
    }
    .item-md h2 {
        margin: 2px 0;
        font-size: 1.6rem;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    [item-title] {
        color: #455b65 !important;
        font-size: 18px !important;
        letter-spacing: 1px;
    }
    .list-md ion-item-sliding {
        background-color: #f7f7f7;
        border-bottom: 1px solid #f4f4f4;
        //border-radius: 15px;
        border: 1px solid #e0e0e0;
    }
    .label-md {
        margin: 5px 5px 5px 0px !important;
    }
    .filtros {
        color: #fff;
        text-shadow: 0px 0px 0px white;
        font-size: 42px;
    }
    .bordeIzquierdoRojo {
        border-left: 7px solid #ff3d00 !important;
    }
    .bordeIzquierdoVerde {
        border-left: 7px solid #69bb7b !important;
    }
    .bordeIzquierdoAzul {
        border-left: 7px solid #009ed7 !important;
    }
    .bordeIzquierdoNaranja {
        border-left: 7px solid #ffc526ef !important;
    }
}