<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar placeholder='Buscar...' showCancelButton color="danger" (keyup)="filterItems($event)" [(ngModel)] = "value" (ionInput)="filterItems($event)"></ion-searchbar>
    <ion-buttons right>
        <button ion-button (click)="start()" icon-only>
          <ion-icon class="icon icon-microphone-outline"></ion-icon>
        </button>
        <button ion-button icon-only (click)="openModal()">
          <ion-icon class="icon icon-filter-outline"></ion-icon>
        </button>
        <button ion-button icon-only (click)="Scaner()">
          <ion-icon class="icon icon-qrcode"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-list no-margin>
      <!--Swipe To Dismiss -->
      <ion-item-sliding *ngFor="let item of items" #slidingItem class="listaClass" [ngClass]="item.bordeIzquierdo">
        <ion-item no-lines *ngIf="item.cliente_nombre_est!=null" (click)="pedido(item)">
          <h2 item-title>{{item.cliente_razon_social | pipeLetraCapital}}</h2>
          <h2 item-title *ngIf="item.cliente_razon_social != item.cliente_nombre_est">{{item.cliente_nombre_est | pipeLetraCapital}}</h2>
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
          <span right span-small class="span" *ngIf="item.cliente_saldocxc > 0">{{item.cliente_saldocxc | currency:'COP':'symbol-narrow':'4.0-0'}}</span>
          <p item-subtitle>{{item.cliente_nit}} - {{item.cliente_id_suc}}</p>
          <p item-subtitle>{{item.cliete_direccion}} {{item.cliente_barrio}}</p>
          <p item-subtitle>{{item.cliente_ciudad}} {{item.cliente_telefono}}</p>
        </ion-item>
        <ion-item-options no-lines>
          <button transparent>
            <p icon-medium>
              <i class="icon icon-map-marker-radius"></i>
            </p>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <!-- Recargar nuevos usuarios con Scroll-->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="texto==''" >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>