page-carta-laboral {
    .blanco .icon {
		color: white !important;
		-webkit-text-fill-color: white !important;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: white !important;
    }
    
    .error{
        font-family: inherit;
        line-height: normal;
        color: red;
        text-align: center;
    }

    .div-area{
        text-align: center;
        font-size: 1.9rem;
        padding: 5%; 
    }
    
    .text-area{
        background-color: #fff;
        border-radius: 2rem;
        height: 10rem;
    }

    textarea.text-input{
        padding-top: 5%;
        text-align: center;
    }
        
    .boton{
        font-weight: bold;
        color: #fff;
        background-color: #004B96;
        border-radius: 0.6rem;
        padding-left: 1% !important;
        font-size: 1.8rem;
        height: 36px;
        padding-right: 1% !important;
    }

    .center{
        text-align: center;
    }

    .div-lista{
        padding-top: 5%;
    }
}
