<ion-header>
  <ion-navbar>
    <ion-title>Carta Laboral</ion-title>
    <ion-buttons right>
        <button ion-button icon-only (click)="btnCompartir()"
            [disabled]="prvBotonesTitulo.estado">
            <ion-icon item-left icon-medium class="blanco">
                <i class="icon icon-share-variant"></i>
            </ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>    
</ion-header>
<ion-content no-padding>
  <comp-combo-select [pCmptRegistros]="prvTiposCarta" pCmptTitulo="Tipo de carta:" (eventoClick)='eventoSeleccionAnio($event)'></comp-combo-select>
  <div class="div-area">
    <label >Dirigido a:</label>
    <ion-textarea [(ngModel)]="parametrosCartaLaboral.titulo" class="text-area" [disabled]='disabled'></ion-textarea>
  </div>
  <div class="center">
    <button class="boton" [disabled]='disabled'  ion-button icon-only (click)='btnGenerar();' >
      Generar
    </button>
  </div>
  <p class="center" *ngIf="hayRegistros">Selecciona los documentos que quieras compartir</p>
  <div class="div-lista">
      <comp-lista-check-box [pCompRegistros]="nombrePdf" (eventoClickCheck)="eventoSeleccionItem($event)" 
      (eventoClick)="eventoVerDescargado($event)">
      </comp-lista-check-box>
  </div>
  <p class="error" *ngIf="error">{{error}}</p>
</ion-content>
