
<ion-header>

  <ion-navbar>
    <ion-title>Encabezado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="span">
    <ion-toolbar header-bcg no-padding no-lines class="Subcabecera">
      AUT-1183
    </ion-toolbar>
    <comp-lista-completa [pCompRegistros]="cp" ></comp-lista-completa>
    <comp-lista-completa [pCompRegistros]="lp"></comp-lista-completa>
    <comp-lista-completa [pCompRegistros]="Penvio"></comp-lista-completa>
  </ion-card>
  <ion-card>
    <comp-lista-completa [pCompRegistros]="lp"></comp-lista-completa>
    <comp-lista-completa [pCompRegistros]="Penvio"></comp-lista-completa>
  </ion-card>
</ion-content>
