<ion-header>
  <ion-navbar>
    <ion-title>Cliente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab color="twitter">
      <ion-icon name="arrow-up"></ion-icon>
    </button>
    <ion-fab-list side="top" white>
      <button ion-fab color="facebook">
        <ion-icon>
          <i class="icon icon-truck"></i>
        </ion-icon>
      </button>
      <button ion-fab color="facebook">
        <ion-icon>
          <i class="icon icon-currency-usd"></i>
        </ion-icon>
      </button>
      <button ion-fab color="facebook">
        <ion-icon>
          <i class="icon icon-cart"></i>
        </ion-icon>
      </button>
      <button ion-fab color="facebook">
        <ion-icon>
          <i class="icon icon-comment-alert"></i>
        </ion-icon>
      </button>
      <button ion-fab color="facebook">
        <ion-icon>
          <i class="icon icon-map-marker-radius"></i>
        </ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid no-padding>
      <ion-list no-margin>
        <ion-toolbar no-padding no-lines class="positionHeader">
          <h2 item-title class="Subcabecera">{{clienteSel.f200_nombre_est}}</h2>
          <p item-subtitle class="Subcabecera">{{clienteSel.f200_nit}} - {{clienteSel.f201_id_sucursal}}</p>
        </ion-toolbar>
      </ion-list>
  </ion-grid>
</ion-content>