<ion-list>
  <ion-row *ngFor="let item of pCompRegistros; let j = index">
    <ion-col col-11>
      <ion-item  no-border>
        <ion-icon name="{{item.imagen}}" item-start *ngIf="pCompBlnImagen"></ion-icon>
        <h2>{{item.titulo}}</h2>
        <h3 *ngIf="item.subTitulo">{{item.subTitulo}}</h3>
        <p *ngIf="item.texto1">{{item.texto1}}</p>
        <p *ngIf="item.texto2">{{item.texto2}}</p>
        <p *ngIf="item.texto3">{{item.texto3}}</p>
        <p *ngIf="item.texto4">{{item.texto4}}</p>
        <button ion-button outline item-end *ngIf="pCompBlnBadge">{{ item.badge }}</button>
      </ion-item>
    </ion-col>
    <ion-col col-1 *ngIf="pCompBlnboton">
        <ion-icon  name="checkbox" (click)="onclikItem(item)"></ion-icon>
    </ion-col>
  </ion-row>
</ion-list>