page-pedido-consulta-lista {
    .Subcabecera
    {
        text-align: center;
        color:white !important;
    }
    .positionHeader {
        text-align: center;
        -webkit-text-stroke-color: white;
        -webkit-text-fill-color: white;
        size: 10;
      }
}
