<ion-header>
  <ion-navbar>
    <ion-title>Filtros</ion-title>
    <ion-buttons end>
      <button ion-button (click)="fnAceptar()">Aceptar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list radio-group [(ngModel)]="filtro">
    <ion-list-header>
      Ordenado por
    </ion-list-header>
    <ion-item>
      <ion-label>Descripcion</ion-label>
      <ion-radio value="ABC" checked="true"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Codigo</ion-label>
      <ion-radio value="123"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Criterio</ion-label>
      <ion-radio value="CRI" (click)="fnCriterio($event)"></ion-radio>
    </ion-item>
    <ion-item *ngIf="filtro=='CRI'">
      <button ion-button clear>
        <comp-combo-select [pCmptRegistros]="dataPlanCriterio" pCmptTitulo={{selplancriterio}} (eventoClick)="cbPlanes($event)"
          pCmptInterface="" [pCmptModelo]="comboModelo"></comp-combo-select>
      </button>
      <button *ngIf="selcriterio!=''" ion-button clear>
        <comp-combo-select [pCmptRegistros]="objCriterio" pCmptTitulo={{selcriterio}} (eventoClick)="cbCriterio($event)" pCmptInterface="">
        </comp-combo-select>
      </button>
    </ion-item>
    <ion-item>
      <ion-label>Portafolio</ion-label>
      <ion-radio value="PORTAFOLIO" (click)="fnPortafolio()"></ion-radio>
    </ion-item>
    <ion-item *ngIf="filtro=='PORTAFOLIO'">
      <button ion-button clear>
        <comp-combo-select [pCmptRegistros]="dataPortafolio" pCmptTitulo={{selportafolio}} (eventoClick)="cbPortafolio($event)"
          pCmptInterface="" [pCmptModelo]="comboModelo"></comp-combo-select>
      </button>
    </ion-item>
    <ion-item>
      <ion-label>Referencia</ion-label>
      <ion-radio value="REF"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>