<ion-header>
  <ion-navbar >
    <ion-title>Encabezado</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-toolbar header-bcg no-padding no-lines *ngFor="let clientes of cliente" class="Subcabecera">
      <h3>{{clientes.tipo_ped}}-{{clientes.cons_ped}}</h3>
      <h3>{{titulo}}</h3>
  </ion-toolbar>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <!--Swipe To Dismiss -->
          <comp-item-completo [pCompRegistros]="datos" (eventoClick)="clickItems($event)"></comp-item-completo>
          <ion-item-divider color="light"></ion-item-divider>
          <comp-input-fechas *ngIf="fecha!=''" pCompLabel='Fecha' [pCompModelo]="fecha" pCompFormatoFecha='completa' (eventoClick)="clickItems(fecha)"></comp-input-fechas>
          <comp-item-completo [pCompRegistros2]="datos1" (eventoClick)="clickItems1($event)"></comp-item-completo>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>