<ion-header>
  <ion-navbar>
    <ion-title>Errores</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="form-content">
  <ion-row>

    <ion-card>
      <ion-card-content>
        <p><strong>{{errores.c08222_error}}</strong> {{errores.c08222_error_detalle}}</p>

      </ion-card-content>
    </ion-card>



  </ion-row>
  <ion-row>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button icon-start full color="favorite" (click)="regresar()" navPop>
            <ion-icon name='md-checkmark'></ion-icon>aceptar
          </button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-row>
</ion-content>
