<ion-header>
  <ion-navbar>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-fab edge right (click)="nuevo()">
        <button ion-fab><ion-icon name="add" ></ion-icon></button>
      </ion-fab>
        <ion-list no-margin>
          <ion-toolbar header-bcg no-padding no-lines *ngFor="let clientes of cliente" class="Subcabecera">
            <h2>{{titulo}}</h2>
            <h3>{{clientes.tipo_ped}}-{{clientes.cons_ped}}</h3>
          </ion-toolbar>
          <!--Swipe To Dismiss -->
          <comp-lista-completa  [pCompRegistros]="itemspedido" (eventoClick)="clickItems($event,'listaprecio')"></comp-lista-completa>
          <comp-lista-completa  [pCompRegistros]="totales" (eventoClick)="clickItems($event,'listatotal')"></comp-lista-completa>       
          <comp-lista-completa  [pCompRegistros]="datas" (eventoClick)="clickItems($event)"></comp-lista-completa>
          <ion-buttons end>
              <button ion-button icon-only (click)="OpcionBorrar()"><ion-icon name="add-circle"></ion-icon></button>
            </ion-buttons>
        </ion-list>
</ion-content>
