page-actividades-detalle {
	.centrado {
		margin-right: auto;
		margin-left: auto;
	}

	ion-card img {
		width: 200px;
	}

	.tabs-ios .tab-button:hover:not(.disable-hover),
	.tabs-ios .tab-button[aria-selected=true] {
		color: white;
		font-weight: 800 !important;
	}

	.tabs-ios .tab-button {
		color: white;
	}

	.item-input .label-ios,
	.item-select .label-ios,
	.item-datetime .label-ios {
		color: #0090d0 !important;
		font-size: 1.2rem !important;
	}

	.item-ios.item-label-stacked .text-input,
	.item-ios.item-label-floating .text-input {
		font-size: 1.2rem !important;
	}
	.select-ios {
		font-size: 1.2rem !important;
	}

	.text-input-ios {
		font-size: 1.2rem !important;
	}
}
