<!--
  Generated template for the ActividadesDetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{actividadSel.descripcion}}
      <br>
      <!-- <span>Tiempo: {{timer.displayTime}}</span> -->
    </ion-title>

    <ion-buttons right *ngIf="mostrarBotonDetener()">
      <button ion-button color="primary" icon-only (click)="guardarDetenerActividad(actividadSel)">
        <ion-icon item-left icon-medium>
          <i class="icon icon-stop-circle" style="-webkit-text-stroke-color: #000000 !important;"></i>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right *ngIf="mostrarBotonPausa()">
      <button ion-button color="primary" icon-only (click)="pausarActividad(actividadSel)">
        <ion-icon name="pause"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right *ngIf="mostrarBotonIniciar()">
      <button ion-button color="primary" icon-only (click)="validarActividad(actividadSel)">
        <ion-icon name="play"></ion-icon>
      </button>
    </ion-buttons>

    <comp-barra-progreso [pCompProgreso]="porcentajeTiempoProgreso()" [pTextoProgreso]='timer.displayTime'
      [pRangosColores]="rangosColores()"></comp-barra-progreso>
  </ion-navbar>

</ion-header>
<ion-content>

  <ion-tabs #tabs tabsPlacement='top' tabs-content>
    <ion-tab [tabTitle]="item.title" [root]="item.page" *ngFor="let item of params.data;let i = index"></ion-tab>
  </ion-tabs>
</ion-content>
