page-dasboard-preferencias {
	.item.item-md .checkbox-md,
	.item.item-ios .checkbox-ios,
	.label-md {
		position: static;
		display: block;
		margin: 8px 6px 8px 0px;
	}
	.label-ios,
	ion-label {
		margin: 10px 8px 10px 0;
		font-size: 12px;
	}
}
