<ion-header>
  <ion-toolbar left>
    <ion-buttons start>
      <button ion-button icon-only (click)="salir()" color="light">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Tableros</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="guardar()" color="light">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let items of tablerosUsuario">
      <ion-label>{{items.titulo}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="items.estado"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
