<ion-header> 
  <ion-navbar color="siesaVerdeClaro">
    <ion-title>precios</ion-title>
  </ion-navbar>
</ion-header>
<ion-content elastic-header>
  <div background-size id="elastic-header" [ngStyle]="{'background-image':
    'url(' + itemSel.item_foto + ')'}" (click)="onClick(imageToView)">
    <img style="display:none" src="{{itemSel.item_foto}}" #imageToView>
  </div>

  <div class="centro" no-margin no-border>
    <h2 item-title no-margin no-border>{{itemSel.item_descripcion | uppercase}}</h2>
    <h3 item-subtitle no-margin no-border>{{itemSel.item_resumen | uppercase}}
      Ref: {{itemSel.item_referencia |
      uppercase}}</h3>
    <h3 item-subtitle no-margin no-border>U.M.:
      {{itemSel.item_id_unidad_inventario | uppercase}}</h3>
  </div>

  <ion-list padding>
    <ion-item *ngFor="let item of items">
      <h2 item-title>{{ item.f_lista_desc }}</h2>
      <h2 item-subtitle>UM.: {{item.f_unidad}} :
        <strong right darkred>{{ item.f_precio | currency}} </strong>
      </h2>
    </ion-item>
  </ion-list>
</ion-content>