page-aprobacion-principal {
    .label-md {
        margin: 2px 2px 0px 0; 
   }
   .list-header-md {
    padding-left: 0px!important;
    margin-bottom: 0px!important; 
    min-height: 4.5rem;
    border-top: 1px solid #dedede;
    font-size: 1.4rem;
    color: #757575;
}
}
