<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Aprobaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <comp-lista-acordion *ngFor="let item of items; let index = index" [pCompTitulo]="item.titulo" [pCompNumContador]="item.badge"
    blnContador="true" [pCompBlnExpandir]="index === 0">
    <comp-lista-completa [pCompBlnBadge]="'true'" [pCompRegistros]="item.registros" (eventoClick)="onclikItem($event)">
    </comp-lista-completa>
  </comp-lista-acordion>
</ion-content>