<ion-header>
  <ion-toolbar>
    <ion-navbar>
      <ion-title>cliente</ion-title>
    </ion-navbar>
  </ion-toolbar>
      <ion-item *ngFor='let item of cliente'no-border>
        <h2>{{item.titulo}}</h2>
        <h3>{{item.texto1}}</h3>
        <h3>{{item.texto2}}</h3>
      </ion-item>
</ion-header>

<ion-content padding>
  <comp-lista-completa [pCompRegistros]="items" [pCompBlnBadge]='true'></comp-lista-completa>
  <ion-fab right *ngIf='itemSeleccionado!="INFO"' (click)='fabClick()'>
      <button ion-fab><ion-icon name="add" ></ion-icon></button>
    </ion-fab>
</ion-content>

<ion-footer>
  <comp-tab [datos]='tab' (eventoClick)="fnLlenarLista($event)"></comp-tab>
</ion-footer>