page-cliente {
    .toolbar-md-light .toolbar-background-md {
        background: #f4f4f4!important;
    }
    ion-fab {
        position: absolute;
        z-index: 999;
        padding-top: 110%;
    }
    
    .label-md {
		margin: 4px 6px 6px 0;
    }
    
	.item-md h2,
	.item-ios h2 {
		margin: 2px 0;
		font-size: 1.6rem;
		font-weight: bold;
    }
    
	.item-ios h3,
	.item-ios h4,
	.item-ios h5,
	.item-ios h6,
	.item-md h3,
	.item-md h4,
	.item-md h5,
	.item-md h6 {
		margin: 2px 0;
		font-size: 1.2rem;
		font-weight: normal;
		line-height: normal;
    }
    
    [item-title] {
		color: #455b65 !important;
		font-size: 12px !important;
		letter-spacing: 0px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	[item-subtitle] {
		color: #455b65 !important;
		font-size: 10px !important;
		text-transform: uppercase;
		font-weight: 300 !important;
		letter-spacing: 0px;
		text-overflow: ellipsis;
		overflow: hidden;
    }
}
