<!-- Themes Swipe To Dismiss Products + CTA footer -->


<ion-content>
  <ion-list>
      <ion-card *ngFor="let motivo of actividad.motivos; let i= index">
    <ion-item-group >
    <ion-item-sliding 
      #slidingItem>

        <ion-item>
          <ion-label>Motivo</ion-label>
          <ion-select [(ngModel)]="actividad.motivos[i].c0836_rowid_motivo_paro"
            (ionChange)="actualizarTipoParo(i)"
            class="col-xs-12" [disabled]="diabledActividad()">

            <ion-option *ngFor="let motivoParo of motivosParo"
              [value]="motivoParo.c0835_rowid">{{motivoParo.c0835_id}}</ion-option>
          </ion-select>
        </ion-item>
        
        <ion-item-options>
          <button (click)="delete(motivo)" ion-button color="danger" mostrar>
            <ion-icon class="delete" name="trash"></ion-icon>
          </button>
        </ion-item-options>
        
      </ion-item-sliding>
      
      <ion-item>
          <ion-input type="number" min="0" class="col-xs-4"
            [(ngModel)]="actividad.motivos[i].c0836_dias_paro"
            placeholder="Dias" [disabled]="diabledActividad()"></ion-input>
      
          <ion-input type="number" min="0" class="col-xs-4"
            (ionChange)="aumentar('dias', actividad.motivos[i],i)"
            [(ngModel)]="actividad.motivos[i].c0836_horas_paro"
            placeholder="horas" [disabled]="diabledActividad()"></ion-input>
      
          <ion-input type="number" min="0" class="col-xs-4"
            (ionChange)="aumentar('horas', actividad.motivos[i],i)"
            [(ngModel)]="actividad.motivos[i].c0836_minutos_paro"
            placeholder="minutos" [disabled]="diabledActividad()"></ion-input>
        </ion-item>
      </ion-item-group>
    </ion-card>
  </ion-list>


  <!-- Fab Button -->
  <ion-fab #fab bottom right>
    <button button-ion-fab ion-fab (click)="agregarMotivo()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
