motivo-paro {
  ion-item-sliding{
    height: 70px;
  }
  ion-label {
    min-height: 120px;
    margin: 0 !important;
  }

  //  .icon {
  //   //  font-size: 40px;
  //   //  margin-top:-60px;
  //  }
   .delete{
     font-size: 40px;
     //margin-top:-60px;
   }

  // .label-ios {
  //   min-height: 100px;
  // }

  // .mostrar {
  //   margin-top: -90px;
  // }

  // [item-top] {
  //   margin-top: 15px;
  // }

  // [new-price] {
  //   font-size: 18px !important;
  //   position: absolute;
  //   bottom: 10px;
  //   right: 0;
  // }

  // [old-price] {
  //   bottom: 30px;
  //   position: absolute;
  //   right: 0;
  //   font-weight: 300;
  //   text-decoration: line-through;
  //   &[span-small] {
  //     color: theme-colors("textColors", "secondary");
  //     font-size: font-size-text("h5");
  //   }
  // }

  // .input-wrapper {
  //   position: relative;
  //   [item-subtitle] {
  //     width: 75%;
  //     text-transform: capitalize;
  //     position: absolute;
  //     bottom: 10px;
  //   }
  // }

  // ion-item-options {
  //   border-bottom: 1px solid theme-colors("mainColors", "secondary") !important;
  // }
}
