.toast-success {
  >div {
    background-color: #32db64 !important;
  }
}

.toast-danger {
  >div {
    background-color: rgb(209, 71, 71) !important;
  }
}

ion-toast.success .toast-wrapper {
  background: green;
}

ion-toast.error .toast-wrapper {
  background: rgb(209, 71, 71);
}
