// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

$font-path: "../assets/fonts";

@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$item-md-detail-push-show: true;
$item-wp-detail-push-show: true;

$popover-md-width: 300px;
//$popover-ios-width: 300px;
//$popover-wp-width: 300px;
// Auto-resizeable "fitted" pop-overs. Taken from here: https://forum.ionicframework.com/t/popover-sizing/8251
ion-popover-view.fit {
	width: auto;
	height: auto;
	ion-content {
		position: relative;
	}
}

.platform-android ion-popover-view.fit {
	margin-top: 10px;
}


$colors: (
	primary: #2c90d8 ,
	secondary: #424242,
	danger: #f53d3d,
	light: #f4f4f4,
	accent: #202020,
	dark: #222222,
	gris: #d9dce4,
	grisClaro: #f9f8fd,
	favorite: #69bb7b,
	twitter:(base: #64b5f6, contrast: #fff),
	facebook:(base: #009ed7, contrast: #fff),
	google:(base: #bf360c, contrast: #fff),
	pinterest:(base: #ff3d00, contrast: #fff),
	siesaAzulClaro:(base: rgba(48, 183, 210, 0.73), contrast: #fff), 
	siesaAzulOscuro:(base: rgba(0, 75, 150, 0.73), contrast: #fff),
	siesaAmarillo:(base: rgba(255, 189, 71, 0.73), contrast: #fff),
	siesaNaranja:(base: rgba(247, 147, 30, 0.73), contrast: #fff),
	siesaVerdeOscuro:(base: rgba(34, 181, 115, 0.73), contrast: #fff),
	siesaVerdeClaro:(base: rgba(140, 198, 63, 0.73), contrast: #fff),
);

//$toggle-ios-background-color-off:#f53d3d;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// App Animation
// --------------------------------------------------
@import "animate";
// App Main Sass
// --------------------------------------------------
@import "main";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
// // App Fontelo Style
// --------------------------------------------------
@import "fontello";
@import "ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
//--- Personaizados
// --------------------------------------------------
@import "theme.online";
@import "theme.offline";
@import "siesa";
