<ion-div *ngFor="let item of pCompRegistros; let j = index">
  <ion-toolbar *ngIf='sheet=="false"'>
    <ion-title (click)='presentActionSheet("true");'>
      <ion-icon name="arrow-dropup"></ion-icon>
      {{item.titulo}}
    </ion-title>
  </ion-toolbar>
  <ion-item no-border *ngIf='sheet=="true"'>
    <h2 class="titulosheet" (click)='presentActionSheet("false");'>
      <ion-icon name="arrow-dropdown"></ion-icon>
      {{item.subtitulo}}
    </h2>
    <ion-row>
      <ion-col col-4>
        <h4 *ngIf='item.col1text1'>{{item.col1text1}}</h4>
        <h4 *ngIf='item.col1text2'>{{item.col1text2}}</h4>
        <h4 *ngIf='item.col1text3'>{{item.col1text3}}</h4>
        <h4 *ngIf='item.col1text4'>{{item.col1text4}}</h4>
      </ion-col>
      <ion-col col-4>
        <h3 item-subtitle *ngIf='item.col2text1'>{{item.col2text1}}</h3>
        <h3 item-subtitle *ngIf='item.col2text2'>{{item.col2text2}}</h3>
        <h3 item-subtitle *ngIf='item.col2text3'>{{item.col2text3}}</h3>
        <h3 item-subtitle *ngIf='item.col2text4'>{{item.col2text4}}</h3>
        <h3 item-subtitle *ngIf='item.col2text5'>{{item.col2text5}}</h3>
      </ion-col>
      <ion-col col-4 align-self-right>
        <h3 item-subtitle *ngIf='item.col3text1'> {{item.col3text1}}</h3>
        <h3 item-subtitle *ngIf='item.col3text2'> {{item.col3text2}}</h3>
        <h3 item-subtitle *ngIf='item.col3text3'> {{item.col3text3}}</h3>
        <h3 item-subtitle *ngIf='item.col3text4'> {{item.col3text4}}</h3>
        <h3>{{item.titulo}}</h3>
      </ion-col>
    </ion-row>
    <button ion-button class='botonPedido' (click)='onclikItem($event);'> REALIZAR PEDIDO</button>
    <p style='text-align: center;'>Anular pedido</p>
  </ion-item>
</ion-div>