<ion-content>
  <ion-tabs #tabs tabsPlacement='top' tabs-content>
    <ion-tab [tabTitle]="item.title" [root]="item.page" *ngFor="let item of params.data;let i = index"></ion-tab>
  </ion-tabs>
</ion-content>
