<!-- Generated template for the AyudantesComponent component -->
<!-- NOTAS -->
<ion-item>
  <ion-label stacked>Observaciones</ion-label>
<ion-textarea type="textarea" [(ngModel)]="actividad.c0846_notas" (ionChange)="handleChangeNotas()" [value]="actividad.c0846_notas"
  placeholder="Notas"
    [disabled]="disableActividad()"></ion-textarea>
</ion-item>
<!-- NOTAS *********-->
<!-- LECTURAS -->
<ion-item *ngIf="disableActividadLecturas()">
  <ion-label stacked>Lecturas</ion-label>
<ion-input (ionChange)="handleChangeLectura()" [(ngModel)]="actividad.lecturas" min="0" max="99999999999999999999" type="number"
  placeholder="Lecturas" [value]="actividad.lecturas"
 [disabled]="disableActividad()"></ion-input>
</ion-item>
<!-- LECTURAS *******************-->
<!-- Ayudantes -->
<ion-list>
  <ion-item-sliding *ngFor="let ayu of ayudantes; let i = index">
    <ion-item>
      <ion-label>Ayudante {{(i+1)}} </ion-label>
      <ion-select [(ngModel)]="ayudantes[i].c0827_rowid_tercero" (ionChange)="handleChangeAyudante(i)" 
        [disabled]="disableActividad()">
        <ion-option *ngFor="let tercero of terceros" [value]="tercero.c0827_rowid_tercero">{{tercero.c0827_razon_social}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item-options side="right">
      <button *ngIf="ayudantes.length>1" ion-button color="danger" (click)="eliminarDeLista(i)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<!-- Ayudantes *******************-->
