<!-- Generated template for the RepuestosComponent component -->

<div *ngFor="let repuesto of repuestos">
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <li>
              <strong>Cant. req.: </strong>{{repuesto.cantidad_requerida}}
            </li>
            <li>
              <strong>Estado: </strong>{{repuesto.estado}}
            </li>
          </ion-col>
          <ion-col col-6>
            <li>
              <strong>Cant. pedida.: </strong>{{repuesto.cantidad_pedida}}
            </li>
            <li>
              <strong>Crítico: </strong>{{repuesto.critico}}
            </li>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <strong>Repuesto: </strong>{{repuesto.repuesto}}
            <li>
              <strong>Requisición Nro.: </strong>{{repuesto.requisicion_numero}}
            </li>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
