<ion-header>

  <ion-navbar>
    <ion-title>novedades</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <comp-lista-completa [pCompRegistros]="motivo"></comp-lista-completa>
  </ion-card>
</ion-content>
