<ion-item>
  <ion-label floating>{{pCompLabel}}</ion-label>
  <ion-input [(type)]="pCompTipoInput" [(ngModel)]="pCompModelo" [(name)]="pCompNombre" [(placeholder)]="pCompPlaceHolder"
    [(readonly)]="pCompSoloLectura" [(clearOnEdit)]="pCompLimpiarAlEditar" [(clearInput)]="pCompBotonLimpiar" (keypress)="teclaPresionada($event.keyCode)"
    [textMask]="{mask: mascaras.telefono}">
  </ion-input>
</ion-item>