<ion-split-pane when="md">
  <ion-menu [content]="content" id="menuPrincipal" (ionOpen)="menuOpened()"
    (ionClose)="menuClosed()">
    <ion-header>
      <div class="header-background-image">
        <img src="{{fotoUsuario}}">
        <h2 item-title text-center>{{leftMenuTitle}}</h2>
      </div>
    </ion-header>
    <!-- Menu Main List -->
    <ion-content online-theme toolbar class="bgmenu">
      <ion-list no-margin no-border>
        <button white menuClose paddinge-left ion-item item-title
          main-menu *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon item-left>
            <i class="icon {{p.icon}}"></i>
          </ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-list no-margin no-border class="bgmenu">
        <ion-item class="bgmenu centro" (click)="openPage({page:'LoginPage'})">Cerrar
          Sesion</ion-item>
      </ion-list>
    </ion-footer>
  </ion-menu>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"
    [class]="selectedTheme"></ion-nav>
</ion-split-pane>
