// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Settings Style Main Meni
.header-background-image::before {
	background: #004b96!important;
	color : white;
}
.bgmenu {
	background: #004b96!important;
	color : white;
}
.toolbar .toolbar-background {
	background: #004b96;
}
.header-background-image {
	//background-image: url('../assets/images/background/31.jpg');
	height: 160px;
	background-size: cover;
	background-position: center;
	@include darkening-blend-mode;

	img {
		padding-top: 40px;
		margin: 0 auto;
		height: 100px;
		display: block;
		position: relative;
		z-index: 9;
		max-width: 60px;
	}

	[item-title] {
		color: theme-colors('textColors', 'accent-first') !important;
		position: relative;
		z-index: 9;
	}
}
// Settings Main  Menu

[main-menu] {
	padding-left: 0px;
	background: #004b96; //linear-gradient(to left, #00bee4 0%, #0091d2 100%);
	color: white !important;

	.item-inner {
		margin-left: 0 !important;
	}

	[icon-small] {
		margin-top: 18px !important;
	}
}

#menuPrincipal,
.item-md [item-left],
.item-md [item-right],
.item-md [item-start],
.item-md [item-end] {
	margin: 0px;
	padding-left: 10px;
}
#menuPrincipal,

.item-md ion-icon[item-left] + .item-inner,
.item-md ion-icon[item-left] + .item-input,
.item-md ion-icon[item-start] + .item-inner,
.item-md ion-icon[item-start] + .item-input {
	border: none;
}

#menuPrincipal,
.list-ios .item-block .item-inner {
	border-bottom: none;
}
#menuPrincipal,
.list-ios > .item-block:last-child,
.list-ios > .item-wrapper:last-child .item-block {
	border-bottom: none;
}
// Settings Submenu

[submenu] {
	ion-label {
		padding-left: 30px !important;
	}
}

/*
* ALERTAS
*/
.md,
.ios,
.wp {
	.custom-alert-btn-cancelar {
		border-radius: 4px;
		border-width: 1px;
		border-style: solid;
		border-color: #f53d3d;
		color: #f53d3d !important;
		background-color: transparent;
	}

	.custom-alert-btn-aceptar {
		border-radius: 4px;
		border-width: 1px;
		border-style: solid;
		border-color: #488aff;
		color: #488aff;
		background-color: transparent;
	}

	.custom-alert-general {
		> div {
			color: auto;
			margin-bottom: 10px;
		}
		.alert-head {
			background-color: #0096d4 !important;
			color: #fff !important;
		}
		.alert-title {
			text-transform: uppercase;
			font-weight: bold;
		}
		button {
			//color: white !important;
			background-color: color($colors, light, base) !important;
		}
	}

	.custom-alert-confirm {
		> div {
			color: auto;
			margin-bottom: 10px;
		}
		.alert-head {
			background-color: #0096d4 !important;
			color: #fff !important;
		}
		.alert-title {
			text-transform: uppercase;
			font-weight: bold;
		}
		button {
			//color: white !important;
			background-color: color($colors, light, base) !important;
		}
	}

	.custom-alert-danger {
		> div {
			color: auto;
			margin-bottom: 10px;
		}
		.alert-head {
			background-color: #f35e5d !important;
			color: #fff !important;
		}
		.alert-title {
			text-transform: uppercase;
			font-weight: bold;
		}
		button {
			//color: white !important;
			background-color: color($colors, light, base) !important;
		}
	}
}
//--- Custom Icons
ion-icon {
	&[class*="custom-"] {
		mask-size: contain;
		mask-position: 50% 50%;
		mask-repeat: no-repeat;
		background: currentColor;
		width: 0.8em;
		height: 0.8em;
	}

	&[class*="custom-config"] {
		mask-image: url(../assets/icon/config.png);
	}
	&[class*="custom-ballon"] {
		mask-image: url(../../assets/ballon.svg);
	}
	&[class*="custom-mouse"] {
		mask-image: url(../../assets/mouse.svg);
	}
}
/*
	---- Varios
*/
.letra-capital {
	text-transform: capitalize !important;
}
.list-ios {
	margin: -1px 0 1px;
}
.label-ios {
	margin: 10px 8px 10px 0;
}
.item-ios [item-right],
.item-ios [item-end] {
	margin: -10px;
}
.centro {
	text-align: center;
}
.capital {
	text-transform: capitalize;
}
.popover-md .popover-content {
	top: 56px !important;
}

	//Accion confirmar
.alertCustomCss {
	color: black !important;
	text-align: center !important;
	.alert-title {
		font-size: 22px;
		text-align: center !important;
	}
	.alert-head, .alert-md .alert-input, .alert-md .alert-message, .alert-md .button-inner {
		color: black !important;
	}

    .alert-wrapper {
	   // background-color: blue;
	   border-radius: 13px;
	   overflow: hidden;
	   max-width: 270px;
	   background-color: #f8f8f8;
	   -webkit-box-shadow: none;
	   box-shadow: none;
	}
	.alert-message{
		color: black !important;
		max-height: 240px !important;
		font-size: 15px !important;
	}

	.alert-button {
		margin: 0;
		border-radius: 0;
		overflow: hidden;
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		min-width: 50%;
		height: 44px;
		border-top: 0.55px solid #dbdbdf;
		border-right: 0.55px solid #dbdbdf;
		font-size: 17px;
		color: #2c90d8;
		background-color: transparent;
	}
	.alert-button-group {
		-webkit-flex-wrap: wrap-reverse;
		-ms-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		padding:0; 
		padding-top: 6px;
		text-align: center !important;
	}

	.button-inner {  
		color: white !important;
		text-align: center !important;
		padding: 9px;
	}

  }

  .buttonAceptar{
	color:white !important;
	background-color: grey !important;
	border-radius: 2px !important;
}
	.buttonCancelar{
		color:white !important;
		background-color: #004B96 !important;
		border-radius: 2px !important;
}

.button-md {
	text-transform: capitalize;
}
  /*.alert-md .alert-wrapper {
    border-radius: 13px;
    overflow: hidden;
    max-width: 270px;
    background-color: #f8f8f8;
    -webkit-box-shadow: none;
    box-shadow: none;
	}*/
/*
.label-md[stacked],
.label-md[floating] {
	color: #a4b5d3 !important;
}
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating],
.item-input-has-value .label-md[floating],
.input-has-value .label-md[floating] {
	color: #a4b5d3 !important;
}
.item-input-has-focus .label-ios[floating],
.input-has-focus .label-ios[floating],
.item-input-has-value .label-ios[floating],
.input-has-value .label-ios[floating] {
	color: #a4b5d3 !important;
}

.item-input .label-ios,
.item-select .label-ios,
.item-datetime .label-ios {
	color: #a4b5d3 !important;
}
*/
