page-login {
	ion-content {
		background-color: #f9f8fd !important;
	}
	.toolbar .toolbar-title {
		text-transform: capitalize;
		text-align: center;
		color: #9a9a9a;
	}
	.toolbar {
		background: #f9f8fd !important;
	}
	.toolbar .toolbar-background {
		background: #f9f8fd !important;
	}
	ion-col {
		position: relative;

		[button-clear] {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.label-texto {
		text-align: center;
		color: #009ed7;
		padding: 0px;
		margin: 0px;
		margin-top: 30px;
		margin-bottom: -20px;
		font-size: 24px;
		font-weight: 700;
	}
	img {
		max-width: 130px;
		max-height: 120px;
		display: block;
		margin: 25px auto 20px;
	}

	.img-huella {
		max-width: 100px;
		max-height: 100px;
	}

	.img-logo {
		padding: 0px;
		margin-bottom: 0px;
		//margin-top: 0px;
	}
	.large {
		font-size: 50px !important;
	}
	.item-inner {
		border-bottom-color: theme-colors('mainColors', 'primary') !important;
		box-shadow: none !important;
	}

	[button-clear-outline] {
		margin-top: 10%;
		width: 48.5%;
		display: block;
		float: left;
	}

	[social] {
		margin: 20px auto 0;
		overflow: hidden;

		button {
			margin: 1%;
			width: 48.5%;
			display: block;
			float: left;
		}

		> button:nth-child(2n) {
			margin-right: 0;
		}
	}
	.medio {
		font-size: 40px !important;
	}
	.label-md[stacked],
	.label-md[floating] {
		color: #a4b5d3 !important;
	}
	.item-input-has-focus .label-md[floating],
	.input-has-focus .label-md[floating],
	.item-input-has-value .label-md[floating],
	.input-has-value .label-md[floating] {
		color: #a4b5d3 !important;
	}
}
