page-login-config {
	.content-md,
	.content-ios {
		background-color: #64b5f6 !important;
		color: white;
	}
	.item-md,
	.item-ios {
		color: white;
	}
	.item-input .label-md,
	.item-select .label-md,
	.item-datetime .label-md,
	.label-ios-primary,
	.item-input .label-ios-primary,
	.item-select .label-ios-primary,
	.item-datetime .label-ios-primary {
		color: #0f6c93 !important;
		margin-top: 5px !important;
	}
	.item-md p {
		margin: 0 0 2px;
		overflow: inherit;
		font-size: 1.4rem;
		line-height: normal;
		text-overflow: inherit;
		color: red;
	}
	.error-message {
		padding-left: 16px;
		color: red;
	}
	ion-select {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		overflow: hidden;
		max-width: 80%;
	}
	img {
		max-width: 130px;
		max-height: 120px;
		display: block;
		margin: 5px auto 5px;
	}

	.img-logo {
		padding: 0px;
		margin-bottom: 0px;
		//margin-top: 0px;
	}
	.img-logo2 {
		max-width: 80px;
		max-height: 80px;
		padding: 0px;
		margin-bottom: 0px;
		//margin-top: 0px;
	}

	.button-clear-md,
	.button-clear-ios {
		color: #0c2538;
	}
	p {
		padding: 0px;
		margin: 0px;
		font-size: 14px;
		color: white;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: white;
		font-weight: 600;
	}
	.label-md,
	.label-ios {
		font-size: small;
		color: #0f6c93;
	}
	.item-label-stacked .text-input-md,
	.item-label-floating .text-input-md {
		margin-top: 2px;
		margin-bottom: 2px;
		font-size: small;
	}
	.item-label-stacked .select-md,
	.item-label-floating .select-md {
		font-size: small;
	}
	.item-md.item-block .item-inner {
		border-bottom: 1px solid #0f6c93;
	}

	.select-ios .select-icon .select-icon-inner,
	.select-md .select-icon .select-icon-inner {
		color: white;
	}
}
