<ion-header no-border no-padding>
  <ion-navbar >
    <ion-buttons right>
      <button ion-button icon-only (click)="openModal({charNum: 0})"
        color="primary">
        <ion-icon name="custom-config" class="medio"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<!-- Themes Login + logo -->
<ion-content>
  <form (ngSubmit)="login()" #registerForm="ngForm">
    <ion-grid>
      <ion-row wrap padding>
        <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3
          col-xl-6>
          <!---Logo-->
          <img class="img-logo" [src]="data.logo">
          <!---Input field username-->
          <ion-label class="label-texto">Inicie sesión</ion-label>
          <ion-item no-padding transparent>
            <ion-label floating>Usuario</ion-label>
            <ion-input type="text" name="email"
              [(ngModel)]="registerCredentials.email" required
              [disabled]="demo_vigencia ||!usuario.valido" autofocus></ion-input>
          </ion-item>
          <!---Input field password-->
          <ion-item no-padding transparent>
            <ion-label floating>Clave</ion-label>
            <ion-input type="password" name="password"
              [(ngModel)]="registerCredentials.password" required
              [disabled]="demo_vigencia ||!usuario.valido"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3
          col-xl-6 class="centro">
          <button ion-button default color="facebook" class="letra-capital"
            type="submit"
            [disabled]="demo_vigencia ||!registerForm.form.valid ||
            !usuario.valido">Iniciar sesión</button>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3
          col-xl-6 class="centro">
          <button ion-button default color="gris" class="letra-capital"
            (click)="demo()">Ir a Demo</button>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3
          col-xl-6>
          <img calss="img-huella" [src]="'assets/images/huella.png'"
          *ngIf="blnHuella" (click)="dialogoHuellaLogin()">
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer [hidden]="keyboardisOpen()" no-border no-padding
  color="secondary">
  <ion-toolbar color="grisClaro">
    <ion-title class="letra-capital" color="primary">{{siesappsVersion}}</ion-title>
  </ion-toolbar>
</ion-footer>