<ion-header>
    <ion-navbar>
      <ion-title>Filtros</ion-title>
      <ion-buttons end>
        <button ion-button (click)="fnAceptar()">Aceptar</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content>
  <ion-list radio-group [(ngModel)]="filtro">
    <ion-list-header>
      Ordenado por
    </ion-list-header>
    <ion-item>
      <ion-label>Descripcion</ion-label>
      <ion-radio value="abc" checked="true"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Codigo</ion-label>
      <ion-radio value="123"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list no-border>
    <ion-list-header>
      Generales
    </ion-list-header>    
    <ion-item>
      <ion-label>Ocultar Visitados</ion-label>
      <ion-toggle checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Fecha Visita</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="fechaVisita" (ionChange)="getDate()"></ion-datetime>
    </ion-item>
  </ion-list>    
</ion-content>
