<ion-item-group>
    <ion-item #slidingItem *ngFor="let item of pCompRegistros; let j = index" (click)="onclikItem(item)" no-border>
        <h2>{{item.titulo}}</h2>
        <h2 *ngIf="item.texto1">{{item.texto1}}</h2>
        <h2 *ngIf="item.texto2">{{item.texto2}}</h2>
        <h2 *ngIf="item.texto3">{{item.texto3}}</h2>
        <h2 *ngIf="item.texto4">{{item.texto4}}</h2>
        <ion-icon item-end><i class="icon icon-chevron-right"></i></ion-icon>
    </ion-item>
    <ion-item #slidingItem *ngFor="let item of pCompRegistros2; let j = index" (click)="onclikItem1(item)" no-border>
        <h2 *ngIf="item.titulo">{{item.titulo}}</h2>
        <h2 *ngIf="item.texto1">{{item.texto1}}
            <p *ngIf="item.value">{{item.value}}</p>
        </h2>
        <h2 *ngIf="item.texto2">{{item.texto2}}</h2>
        <h2 *ngIf="item.texto3">{{item.texto3}}</h2>
        <h2 *ngIf="item.texto4">{{item.texto4}}</h2>
        <ion-icon item-end><i class="icon icon-chevron-right"></i></ion-icon>
    </ion-item>
</ion-item-group>