<ion-header>

  <ion-navbar>
    <ion-title>Cartera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-toolbar header-bcg no-padding no-lines class="Subcabecera">
    {{obj.titulo}}
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-list>
        <ion-row>
          <ion-col>
            {{obj.texto1}}
          </ion-col>
          <ion-col *ngIf="item=='combo'">
            {{ cartera | currency}}
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-item>
    <ion-item *ngIf='obj.texto2!=""'>
      <ion-list>
        <ion-row>
          <ion-col>
            {{obj.texto2}}
          </ion-col>
          <ion-col *ngIf="item=='combo'">
            {{ aplicado | currency}}
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-item>
  </ion-list>
  <comp-lista *ngIf="item=='combo'" [pCompBlnBadge]="'true'" [pCompBlnboton]="'true'" (eventoClick)="clickItems($event)" [pCompRegistros]="items"></comp-lista>
</ion-content>