<!-- Generated template for the CameraComponent component -->
<div>
  <button ion-button block (click)="getPicture()">Toma una foto</button>
  <button *ngIf="image" ion-button block color="secondary" (click)="guardarImagen()">Guardar Imagen</button>
  <img [src]="image" *ngIf="image" />

</div>
<ion-item-sliding *ngFor="let imagen of imagenes; let i = index" #slidingItem>
  <ion-item>
    <ion-card>
      <img [src]="imagen.image" />
    </ion-card>
  </ion-item>
  <ion-item-options>
    <button (click)="delete(imagen.c08221_rowid,i)" ion-button color="danger" mostrar>
      <ion-icon class="delete" name="trash"></ion-icon>
    </button>
  </ion-item-options>
</ion-item-sliding>
