<ion-segment [(ngModel)]="seleccionado">
  <ion-segment-button *ngFor="let item of datos;let i=index;" [value]="item.titulo"  (click)="onclikItem(item,$event)">
    {{item.titulo}}
    <ion-badge *ngIf="item.badge">{{item.badge}}</ion-badge>
  </ion-segment-button>
</ion-segment>