comp-tab {
    .segment-button {
        min-height: 50px;
        padding-top: 8px;
    }
    .segment-md .segment-button {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
        height: 4.2rem;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0.1);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 4rem;
        text-transform: uppercase;
        color: #323232;
        background-color: transparent;
        opacity: 0.7;
        -webkit-transition: 100ms all linear;
        transition: 100ms all linear;
        padding: 0 6px;
        background-color: white;
    }

    badge-ios,
    ion-badge {
        position: absolute;
        top: 1px;
        right: 1px;
        margin: auto;
        height: 15px;
        width: 15px;
        padding: 0px;
        padding-top: 2px;
        font-size: x-small;
        opacity: 0.9;
        border-radius: 50% !important;
        background-color: #f53d3d !important;
        &~ion-icon {
            margin-right: 1.2rem;
        }
    }

	ion-card {
		position: initial;
		height: 110px;
		max-width: 100%;
    }

    .segment-button.segment-activated {
        color:#2c90d8;
        background-color:white;
    }

    /*.segment-button {
        border-width: 0px;
         border-color: none!important;
        color: #777373;
        background-color: white;
    }*/
    
    .segment-ios .segment-button {
        border-width: 0px;
         border-color: none!important;
        color: #777373;
        background-color: white;
    }

    /*.segment-ios .segment-button:hover:not(.segment-activated) {
        color:#2c90d8;
        background-color:white;
    }*/
    .segment-ios .segment-button.segment-activated {
        color:#2c90d8;
        background-color:white;
    }
}
 