page-actividades-lista {
 .bordeIzquierdoAmarillo {
   border-left: 7px solid yellow;
 }

 .bordeIzquierdoVerde {
   border-left: 7px solid green;
 }
 .bordeIzquierdoRojo {
   border-left: 7px solid red;
 }
 .bordeIzquierdoGris{
   border-left: 7px solid gray;
 }
 .bordeIzquierdoNegro{
   border-left: 7px solid black;
 }

 .ok-confirmacion{
  -webkit-text-stroke-color: #0fa70f !important;
  -webkit-text-fill-color: #0fa70f !important;
 }
 .cancel-confirmacion{
-webkit-text-stroke-color: #f51313 !important;
   -webkit-text-fill-color: #f51313 !important;
 }

 .spin-confirmacion{
-webkit-text-stroke-color: #000000 !important;
   -webkit-text-fill-color: #000000 !important;
 }

 .confirmacion{
   
   font-size:24px
 }

 .titulo1{
   font-size:20px;
 }
 .titulo2{
   font-size:18px;
 }
 .titulo3{
   font-size:16px;
 }
 .titulo4{
   font-size:14px;
 }
 .titulo5{
   font-size:12px;
 }
}

