<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Actividades</ion-title>
    <!-- 
      Boton de Qr para filtrado por Qr, pendiente implementar funcionalidad
      <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon item-left icon-medium>
          <i class="icon icon-qrcode" style="-webkit-text-stroke-color: #ffffff !important;"></i>
        </ion-icon>
      </button>
    </ion-buttons> -->
    <ion-buttons right *ngIf="mostrarBtnEnviar">
      <button ion-button icon-only (click)="enviarActividades()">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right *ngIf="mostrarBtnLimpiarFiltro">
      <button ion-button icon-only (click)="limpiarFiltroNFC()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="seleccionarCampos()">
        <ion-icon name="list-box"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


  <div padding>
    <ion-segment [(ngModel)]="tabListado">
      <ion-segment-button value="pendientes" (click)="ocultarBotonEnviar()">
        Pendientes
      </ion-segment-button>
      <ion-segment-button value="terminadas" (click)="mostrarBotonEnviar()">
        Terminadas
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="tabListado">
    <!-- Procedimiento -->
    <div *ngSwitchCase="'pendientes'">
      <ion-list>

        <ion-card *ngIf="actividades.length===0">
          <ion-card-header>
            Sin Actividades
          </ion-card-header>
          <ion-card-content>
            bandeja de actividades limpia
          </ion-card-content>

        </ion-card>

        <button ion-item *ngFor="let actividad of actividades; let i = index" (click)="detalleActividad(actividad)"
          [ngClass]="actividad.bordeIzquierdo">
          <ion-avatar item-start>
            <img [src]="obtenerFoto(actividad.f_foto)">

          </ion-avatar>

          <!-- <h2>{{actividad.descripcion}}</h2>
          <h3>{{actividad.c0822_fecha_programada | date:'yyyy-MM-dd HH:mm'}}
            {{actividad.c0820_id_co}}-{{actividad.c0820_id_tipo_docto}}-{{actividad.c0820_consec_docto}}</h3>
          <p> {{actividad.trabajo}}</p> -->

          <div *ngFor="let cfg of campos_seleccionados">
            <span [style]="getStyle(cfg.c08223_class)">{{actividad[cfg.c08223_id]}}</span>
          </div>
        </button>
      </ion-list>

    </div>
    <div *ngSwitchCase="'terminadas'">
      <ion-list>
        <ion-list *ngIf="actividadesTerminadas.length>0">
          <ion-item>
            <ion-label>Mostrar actividades enviadas</ion-label>
            <ion-toggle [(ngModel)]="ind_enviadas" (ionChange)="mostrarActividadesEnviadas()"></ion-toggle>
          </ion-item>
        </ion-list>
        <ion-card *ngIf="actividadesTerminadas.length===0">
          <ion-card-header>
            Sin Actividades Terminadas
          </ion-card-header>
          <ion-card-content>
            bandeja de actividades limpia
          </ion-card-content>

        </ion-card>
        <ion-item-sliding *ngFor="let actividad of actividadesTerminadasMostrar; let i=index" #slidingItem>
          <ion-item [ngClass]="actividad.bordeIzquierdo" (click)="detalleActividad(actividad)">

            <ion-avatar item-start>
              <img [src]="obtenerFoto(actividad.f_foto)">
            </ion-avatar>
            <!-- <h2>{{actividad.descripcion}}</h2>
            <h3>{{actividad.c0822_fecha_programada | date:'yyyy-dd-MM HH:mm'}}
              {{actividad.c0820_id_co}}-{{actividad.c0820_id_tipo_docto}}-{{actividad.c0820_consec_docto}}</h3>
            <p> {{actividad.trabajo}}</p> -->
            <div *ngFor="let cfg of campos_seleccionados">
              <span [style]="getStyle(cfg.c08223_class)">{{actividad[cfg.c08223_id]}}</span>
            </div>
            <i *ngIf="enviandoIndex==actividad.id" class="icon icon-spin3 confirmacion spin-confirmacion" item-end></i>
            <i *ngIf="actividad.ind_enviado==1" class="icon icon-ok-circled confirmacion ok-confirmacion" item-end></i>
            <i *ngIf="mostrarIconoError(actividad)" class="icon icon-cancel-circled2 confirmacion cancel-confirmacion"
              item-end></i>


          </ion-item>
          <ion-item-options>
            <button ion-button color="danger" *ngIf="actividad.c0822_ind_enviado==2||actividad.c0822_ind_enviado==3||actividad.habilitar_error==0"
              (click)="openModal(actividad,slidingItem)">
              <ion-icon name="text"></ion-icon>
              Errores
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>



</ion-content>