<!-- Generated template for the NoRutinarioComponent component -->
<div>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label fixed>Tipo Daño</ion-label>
        <ion-select [(ngModel)]="actividad.c0819_ind_tipo_dano" (ionChange)="setearTipoDano()" [disabled]="disabledActividad()">
          <ion-option *ngFor="let dano of tipoDanos" [value]="dano.rowid">{{dano.descripcion}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Detalle del daño</ion-label>
        <ion-textarea type="textarea" value="" [(ngModel)]="actividad.c0819_detalle_dano" placeholder="Detalle del daño" [disabled]="disabledDetalleDano()"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label fixed>Causal Falla</ion-label>
        <ion-select [(ngModel)]="actividad.c0846_rowid_causal_falla" [disabled]="disabledActividad()">
          <ion-option *ngFor="let causalFalla of causalFallas" [value]="causalFalla.c0805_rowid">{{causalFalla.c0805_id}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed>Tipo Falla</ion-label>
        <ion-select [(ngModel)]="actividad.c0846_rowid_tipo_falla" [disabled]="disabledTipoFalla()">
          <ion-option *ngFor="let tipoFalla of tipoFallas" [value]="tipoFalla.c0804_rowid">{{tipoFalla.c0804_id}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label item-title>Ocasiono Paro en cadena</ion-label>
        <ion-checkbox [checked]="actividad.paroEnCadena" [(ngModel)]="actividad.paroEnCadena" (ionChange)="handlChangeParoEnCadena()"
          [disabled]="disabledParoEnCadena()"></ion-checkbox>
      </ion-item>


    </ion-card-content>
  </ion-card>
</div>
