<ion-header>
  <ion-toolbar>
    <ion-navbar>
      <ion-title>Clientes</ion-title>
    </ion-navbar>
    <ion-buttons right>
      <button ion-button icon-only class="btnAdd">
        <ion-icon name="add" right></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <comp-buscar (eventoClick)='listarClientes($event)' [pCmptBotonesDerecha]="prvBotonesTitulo"></comp-buscar>
</ion-header>

<ion-content padding>
  <comp-lista-completa [pCompRegistros]='items' [pCompBlnBadge]='true' (eventoClick)="clickItems($event)"></comp-lista-completa>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>