page-clientes-lista {
    .searchbar-ios {
        padding: 0 8px;
        min-height: 4px;
        border-top: 0.55px solid transparent;
        border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
        background: white;
    }

    .btnAdd{
        font-size: x-large;
    }
}
