<ion-header>
    <ion-navbar >
      <ion-title>Signature</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  <signature-pad id="signatureCanvas"></signature-pad>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
  <button ion-button full color="danger" (click)="drawCancel()">Cancelar</button>
      </ion-col>
      <ion-col col-4>
  <button ion-button full color="light" (click)="drawClear()">Limpiar</button>
      </ion-col>
      <ion-col col-4>
  <button ion-button full color="secondary" (click)="drawComplete()">Guardar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>