<ion-item item-start color="light">
  <ion-label [ngClass]="(prvTipoFormato === '') ? 'fixed' : 'floating'">{{pCompLabel}}</ion-label>
  <ion-datetime [(ngModel)]="prvFechaModelo" displayFormat="{{prvFormatoSel}}" doneText="Aceptar" cancelText="Cancelar" pickerFormat="{{prvFormatoSel}}" (ionChange)="changeDate(prvFechaModelo)"></ion-datetime>
  <button ion-button icon-only item-end color="facebook" (click)="fnBtnBuscar()">
    <ion-icon name="search"></ion-icon>
  </button>
</ion-item>