comp-input-fechas-boton {
	.datetime-ios,
	.datetime-md {
		padding: 30px 15px 30px 16px;
	}
	.item-md .item-button,
	.item-ios .item-button {
		padding: 0 0.6em !important;
		font-size: 1.2rem;
		height: 3.6rem;
	}
	.item-ios .item-button[icon-only] ion-icon,
	.item-ios .item-button[icon-only] {
		margin-right: 5px;
	}
}
