<ion-header>

  <ion-navbar>
    <ion-title>Adicionar evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="save()">
    <ion-list>
      <ion-item>
        <ion-label floating>Titulo</ion-label>
        <ion-input type="text" [(ngModel)]="event.title" name="event.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Ubicacion</ion-label>
        <ion-input type="text" [(ngModel)]="event.location" name="event.location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Notas</ion-label>
        <ion-input type="text" [(ngModel)]="event.message" name="event.message"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Fecha Inicio</ion-label>
        <ion-datetime [(ngModel)]="event.startDate" displayFormat="YYYY/MM/DD" doneText="Aceptar" cancelText="Cancelar" pickerFormat="YYYY/MM/DD"
          name="event.startDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>Fecha Termina</ion-label>
        <ion-datetime [(ngModel)]="event.endDate" displayFormat="YYYY/MM/DD" doneText="Aceptar" cancelText="Cancelar" pickerFormat="YYYY/MM/DD"
          name="event.endDate"></ion-datetime>
      </ion-item>
      <button ion-button type="submit" full>Aceptar</button>
    </ion-list>
  </form>
</ion-content>