<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{pCmptTitulo}}</ion-title>
    <ion-buttons right *ngIf="prvBotonesDerecha">
      <button ion-button icon-only *ngFor="let btn of prvBotonesDerecha; let i = index" (click)="clickBoton(i)">
        <ion-icon *ngIf="btn.estado" name="{{btn.imagen}}"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar #subHeader  color="light">
      <ng-content></ng-content>
  </ion-toolbar>

  <ion-toolbar *ngIf="true===false">
    <ion-row class="filters">
      <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
        <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col no-padding col-10>
        <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="3">
          <ion-slide (click)="filterData(category.id)" *ngFor="let category of categories">
            <p [class.selected]="selectedCategory?.id === category.id">{{ category.name }}</p>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1>
        <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>