<ion-content padding class="form-content" color="primary">
  <img class="img-logo" [src]="data.logo">
  <h5 class="centro">Configure su cuenta</h5>
  <p class="centro">A continuación deberá configurar su cuenta con la información provista por su asesor de Siesa.</p>
  <form class="form" [formGroup]="validations_form"
    (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item transparent>
      <ion-label>Protocolo de seguridad Https</ion-label>
      <ion-toggle color="favorite" checked="false"
        [(ngModel)]="parametros.https"
        formControlName="https" (ionChange)="grabaURL()"></ion-toggle>
    </ion-item>
    <ion-item transparent class="input-has-focus">
      <ion-label floating color="primary">URL Sincronización:</ion-label>
      <ion-input #inputUrl type="url" [(ngModel)]="parametros.url"
        formControlName="url" class="form-controll"
        (ionBlur)="grabaURL()"
        required autofocus></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.url">
        <div class="error-message"
          *ngIf="validations_form.get('url').hasError(validation.type)
          &&
          (validations_form.get('url').dirty ||
          validations_form.get('url').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item transparent class="input-has-focus">
      <ion-label floating color="primary">Puerto:</ion-label>
      <ion-input #inputPuerto type="number" [(ngModel)]="parametros.puerto"
        formControlName="puerto" class="form-controll"
        (ionBlur)="grabaURL()" required></ion-input>
    </ion-item>

    <ion-item transparent class="input-has-focus">
      <ion-label floating color="primary">ID Cia.:</ion-label>
      <ion-input type="number" [(ngModel)]="parametros.idcia"
        formControlName="idcia" class="form-controll"
        (ionBlur)="grabaURL()" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.idcia">
        <div class="error-message"
          *ngIf="validations_form.get('idcia').hasError(validation.type)
          &&
          (validations_form.get('idcia').dirty ||
          validations_form.get('idcia').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item transparent>
      <ion-label floating color="primary">Conexión</ion-label>
      <ion-select [(ngModel)]="parametros.idconexion"
        formControlName="idconexion" submitText="Aceptar"
        cancelText="Cancelar" okText="Aceptar" (ionChange)="grabaURL()">
        <ion-option *ngFor="let c of arrConexiones" value="{{c.id}}">{{c.titulo}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of
        validation_messages.idconexion">
        <div class="error-message"
          *ngIf="validations_form.get('idconexion').hasError(validation.type)
          && (validations_form.get('idconexion').dirty ||
          validations_form.get('idconexion').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6
            offset-xl-3 col-xl-6 class="centro">
            <button ion-button default color="primary"
              class="letra-capital"
              [disabled]="!validations_form.valid" type="submit">
              Guardar
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6
            offset-xl-3 col-xl-6 class="centro">
            <button ion-button clear (click)="finalizar()"
              class="letra-capital">
              Cancelar
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6
            offset-xl-3 col-xl-6 class="centro">
            <button ion-button default color="gris" class="letra-capital"
              (click)="demo()">Ir a Demo</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <!--
        <ion-row>
            <button ion-button icon-start full color="facebook"
                (click)="demo()">
                <ion-icon name='md-cloud-download'></ion-icon>demo
            </button>
        </ion-row>
        -->
  </form>
</ion-content>