<ion-header>
  <ion-toolbar>
    <ion-navbar>
      <ion-searchbar *ngIf="sel!='CRI'" placeholder={{sel}} showCancelButton color="danger" (keyup)="filterItems($event)" (ionInput)="filterItems($event)" (keyup.enter)="filterItems($event)"></ion-searchbar>
      <ion-buttons right>
        <button ion-button icon-only (press)="startListening()" (touchend)="stopListening()">
          <ion-icon class="icon icon-microphone-outline"></ion-icon>
        </button>
        <button ion-button icon-only (click)="openModal()">
          <ion-icon class="icon icon-filter-outline"></ion-icon>
        </button>
        <button ion-button icon-only (click)="Scaner()">
          <ion-icon class="icon icon-qrcode"></ion-icon>
        </button>
        <button ion-button icon-only (click)="save()" *ngIf="input==true">
          <ion-icon ios="ios-checkbox"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <comp-lista-completa [pCompRegistros]="items" (eventoClick)="clickItems($event)" [pCompBlnBadge]="'true'"></comp-lista-completa>
  <p><comp-lista-completa [pCompRegistros]="data" *ngIf='inputselect==true' (eventoClick)="clickItemselect($event)" [pCompBlnBadge]="'true'"></comp-lista-completa></p>
  <!--Recargar nuevos usuarios con Scroll-->
  <ion-item *ngIf="input==true">
    <ion-label>{{cantdesc}}</ion-label>
    <ion-input type="number" min="0" max="9" [(ngModel)]="cant" placeholder={{cantdesc}} name="cant"></ion-input>
  </ion-item>
  <ion-item *ngIf="input==true">
    <ion-label>Precio</ion-label>
    <ion-input type="number" name="input" min="0" max="9" [(ngModel)]="precio" placeholder="Precio" name="precio"></ion-input>
  </ion-item>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="texto==''">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>