<ion-header>
    <ion-navbar>
        <ion-title>Desprendible de pago</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="btnCompartir()"
            [disabled]='prvBotonesTitulo.estado'>
                <ion-icon item-left icon-medium class="blanco">
                    <i class="icon icon-share-variant"></i>
                </ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar color="light" no-padding>
        <comp-input-fechas-boton pCompLabel="Periodo"
            pCompFormatoFecha="periodo" [pCompModelo]="prvPeriodo"
            (eventoClick)="descargarArchivos($event)">
        </comp-input-fechas-boton>
    </ion-toolbar>
</ion-header>

<ion-content [ngClass]="(!contHiden) ? 'ion-content-con-imagen': '' ">
    <p class="center" *ngIf="hayRegistros">Selecciona los documentos que quieras compartir</p>
    <h6 *ngIf="!overlayHidden" class="tableros">Aun no tiene desprendibles, busquelos aqui</h6>
    <comp-lista-check-box [pCompRegistros]="prvRegistosVolantes"
        (eventoClickCheck)="eventoSeleccionItem($event)" [pCompBlnBtn]="true"
        (eventoClick)="bntVerDescargado($event)"
        [pCompBtnImagen]="'md-eye'" (eventoClickBtn)="bntVerDescargado($event)">
    </comp-lista-check-box>
    <p class="error" *ngIf="error">{{error}}</p>
</ion-content>