<ion-header>
  <ion-navbar color="siesaNaranja">
    <ion-title>bodegas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content elastic-header>
  <div background-size id="elastic-header" [ngStyle]="{'background-image':
    'url(' + itemSel.item_foto + ')'}" (click)="onClick(imageToView)">
    <img style="display:none" src="{{itemSel.item_foto}}" #imageToView>
  </div>

  <div class="centro" no-margin no-border>
    <h2 item-title no-margin no-border>{{itemSel.item_descripcion | uppercase}}</h2>
    <h3 item-subtitle no-margin no-border>{{itemSel.item_resumen | uppercase}}
      Ref: {{itemSel.item_referencia |
      uppercase}}</h3>
    <h3 item-subtitle no-margin no-border>U.M.:
      {{itemSel.item_id_unidad_inventario | uppercase}}</h3>
  </div>

  <ion-list padding>
    <ion-item *ngFor="let item of items" (click)="verBodegasDetalle(item)">
      <h2 item-title>{{item.bodega}}-{{ item.desc_bodega | uppercase}}</h2>
      <h2 item-subtitle>Existencia :
        <strong> {{ item.cant_existencia | number}}</strong>
      </h2>
      <h2 item-subtitle>Comprometida :
        <strong> {{ item.cant_comprometida | number}}</strong>
      </h2>
      <h2 item-subtitle>Disponible :
        <strong> {{ item.cant_disponible | number}}</strong>
      </h2>
      <h2 item-subtitle>Orden :
        <strong> {{ item.cant_pend_entrar | number}}</strong>
      </h2>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>