<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>inventarios</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="filtros($event)" color="grisClaro">
        <ion-icon name="funnel-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="sub-header">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-searchbar (keyup)="onInput($event)" [(ngModel)]="strBuscar" placeholder="Buscar" color="light"></ion-searchbar>
        </ion-col>
        <ion-col col-2>
          <ion-icon item-left icon-medium (click)="buscarQR()" class="blanco">
            <i class="icon icon-qrcode"></i>
          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content #popoverContent class="popover-page">
  <div #popoverText class="text-to-change">
    <comp-lista-generica [pCompRegistros]="registros" [pCompBlnImagen]='blnVerImagenes' (eventoClick)="itemSelected($event)"
      [pCompBlnScrollEvento]='blnScroll' (eventoScroll)="doInfinite($event)"></comp-lista-generica>
  </div>
</ion-content>