page-aprobaciones-lista {
	.item-ios [item-right],
	.item-ios [item-end] {
		margin: 0px !important;
	}

	.badge-md, .badge-ios {
		border-radius: 4px;
		color: #fff;
		background-color:color($colors, danger, base) !important;
	}

}
