
<ion-header>
  <ion-navbar>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="onclikItem(item)">
      {{ item.titulo }}
      <ion-badge outline item-end>{{ item.badge }}</ion-badge>
    </button>
  </ion-list>
</ion-content>
