<ion-toolbar color="light">
  <ion-grid>
    <ion-row>
      <ion-col [ngClass]="columnasInicial">
        <ion-searchbar (keyup)="onclikItem($event)" [(ngModel)]='pCmptBuscar' placeholder="Buscar"></ion-searchbar>
      </ion-col>
      <ion-col [ngClass]="columnasFinal">
        <button class="{{btn.imagen}}" ion-button icon-only right *ngFor="let btn of pCmptBotonesDerecha; let i = index">
          <ion-datetime *ngIf='btn.estado' displayFormat="YYYY/MM/DD" showCancelButton color="primary" showCancelButton color="danger"
            (keyup)="onclikFecha($event)" pickerFormat="YYYY/MM/DD" [(ngModel)]="pCmptFecha"
            (ionChange)='onclikFecha($event)'>
          </ion-datetime>
          <ion-icon *ngIf="btn.imagen" name="{{btn.imagen}}" right>
          </ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>