comp-buscar {
    .columnas-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        width: 66.66667%;
        max-width: 66.66667%;
	}
	.columnas-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        width: 33.33333%;
        max-width: 33.33333%;
    }
    
    .columnas-6{
        -webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%!important;
		width: 50%!important;
		max-width: 50%!important;
    }
    .datetime-ios {
        width: 90px;
        padding: 11px 2px 8px 2px;
    }
    .datetime-md{
        width: 90px;
        padding: 17px 2px 15px 2px;
    }

    
    ion-datetime {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .calendar {  
        overflow: hidden;
        width: 100%;
        font-weight: 50;
        color: #fff;
        background-color: #2c90d8;
        font-size: 9.5px;
        border-radius: 20px;
    }
}
