comp-baldosas-auto-gestion {
	.columnas-azul {
		background: #004b96;
		color: white !important;
		text-align: center;
		height: 13rem;
		h1 {
			text-align: center;
			font-weight: bold;
			color: white !important;
            font-size: 4.5rem !important;            
		}
		h2 {
			bottom: 2%;
			//bottom: 10%;
			position: absolute;
            font-size: 1.2rem !important;			
			left: 50%;
			transform: translate(-45%, 0);
			color: white !important;
		}
		h4 {
			text-align: center;
			font-weight: bold !important;  
	        font-size: 1.3rem !important;
			letter-spacing: normal;
			color: white !important;
		}
	}

	.columnas-verde {
		background: rgb(140, 198, 63);
		color: white !important;
		text-align: center;
		height: 13rem;
		h1 {
			text-align: center;
            font-size: 4.5rem !important;
			font-weight: bold;
			color: white !important;
		}
		h2 {
			bottom: 2%;
			//bottom: 10%;
			position: absolute;
            font-size: 1.2rem !important;			
			left: 50%;
			transform: translate(-45%, 0);
			color: white !important;
		}
		h4 {
			text-align: center;
			font-weight: bold !important;
            font-size: 1.3rem !important;			
			letter-spacing: normal;
			color: white !important;
		}
	}
	.columnas-blanco {
		background: #f2f2f2;
		color: #aaa8a8 !important;
		height: 13rem;
		h1 {
			text-align: center;        
		    font-size: 4.5rem !important;
			font-weight: bold;
			color: #aaa8a8 !important;
		}
		h2 {
			bottom: 2%;
			//bottom: 10%;
			position: absolute;
            font-size: 1.2rem !important;			
			left: 50%;
			transform: translate(-45%, 0);
			color: #aaa8a8 !important;
		}
		h4 {
			text-align: center;
			font-weight: bold !important;
            font-size: 1.3rem !important;
			letter-spacing: normal;
			color: #aaa8a8 !important;
		}
	}

	.grid > .row > .col {
		padding-top: 15px !important;
		padding-left: 5px !important;
	}
	.row {
		padding-right: 15px !important;
	}
	ion-badge {
		position: absolute;
		top: 5px;
		right: 1px;
		margin: auto;
		height: 27px;
		width: 27px;
		padding: 6px;
		opacity: 0.9;
		border-radius: 50% !important;
		background-color: #f53d3d !important;
		& ~ ion-icon {
			margin-right: 1.2rem;
		}
	}
	.badge-ios {
		top: 15px;
	}
	ion-card {
		position: initial;
		height: 110px;
		max-width: 100%;
	}
	.card-md,
	.card-ios {
		margin: 5px 5px 0px 0px;
		padding: 0px !important;
		width: calc(100% - 5px);
		border-radius: 12px;
	}

	/*.card-md h1,
	.card-ios h1{
        text-align: center;
        font-size: 3rem !important;
        font-weight: bold
    }
    .card-md h4,
	.card-ios h4{
        text-align: center;
        font-weight: bold !important;
        font-size: 1.2rem !important;
		letter-spacing: normal;
		color:white !important;
    }
    .card-md h2,
	.card-ios h2{
        bottom: 2%;
        //bottom: 10%;
		position: absolute;
        font-size: 1rem !important;		
        left: 50%;
		transform: translate(-45%, 0);
		color:white !important;
    }*/

	[gallery-title] {
		position: absolute;
		bottom: 0;
		width: calc(80% - 5px);
		border-bottom: 1px solid transparent !important;

		[item-title],
		[item-subtitle] {
			font-size: 10px;
			text-align: center;
			height: 20px;
			width: 80%;
			//color: theme-colors('textColors', 'accent-first') !important;
		}
	}
	ion-card img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 90px;
		//margin-top: 10px;
	}
	.full {
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
		text-align: center;
	}
	.normal {
		text-align: center;
	}
}
