<ion-grid no-padding *ngIf="datos != null">
    <ion-row>
      <ion-col *ngFor="let item of datos;let i=index; last as ultimo">
        <ion-card [ngClass]="item.colorbaldosa" (click)="onEvent('onCardClick', item, $event)" >   
          <div [ngClass]="item.colorbaldosa">
            <h1 >{{item.titulo}}</h1>
            <h4 >{{item.subtitulo}}</h4>
            <h2 *ngIf="item.texto1">{{item.texto1}}</h2>
          </div>          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>