<ion-item>
  <ion-label>{{pCmptTitulo}}</ion-label>
  <ion-select [(ngModel)]="pCmptModelo" submitText="Aceptar" cancelText="Cancelar" okText="Aceptar" interface="{{pCmptInterface}}"
    pCmptMultiseleccion="true" (ionChange)="clickBoton($event)">
    <ion-option *ngFor="let c of registros | pipeObjOrdenarPor :pCmptOrdenarPor" value="{{c.id}}" >{{c.titulo}}</ion-option>
  </ion-select>
</ion-item>