comp-baldosas {
	.columnas-3 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.33333%;
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333% !important;
		width: 33.33333% !important;
		max-width: 140px !important;
	}
	.columnas-2 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50% !important;
		width: 50% !important;
		max-width: 140px !important;
	}
	.row {
		margin-top: 60px;
		width: 285px;
		margin-left: auto;
		margin-right: auto;
	}
	.grid {
		padding: 0px !important;
	}
	ion-badge {
		position: absolute;
		top: 5px;
		right: 1px;
		margin: auto;
		height: 27px;
		width: 27px;
		padding: 6px;
		opacity: 0.9;
		border-radius: 50% !important;
		background-color: #f53d3d !important;
		& ~ ion-icon {
			margin-right: 1.2rem;
		}
	}
	.badge-ios {
		top: 1px !important;
	}
	ion-card {
		position: initial;
		height: 110px;
		max-width: 100%;
	}
	.card-md,
	.card-ios {
		margin: 0px;
		padding-top: 10px !important;
		width: 140px;
		height: 160px;
		border-radius: 7px;
		margin-left: auto;
		margin-right: auto;
	}
	.card-md h2,
	.card-ios h2 {
		width: calc(100% + 15px) !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	[gallery-title] {
		position: relative;
		bottom: 2px;
		width: 93%;
		border-bottom: 1px solid transparent !important;

		[item-title],
		[item-subtitle] {
			text-align: center;
			font-weight: 700;
			min-height: 60px;
			color: theme-colors('textColors', 'siesa-azul') !important;
		}
	}
	ion-card img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100px;
		max-height: 100px;
	}
	.full {
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
		text-align: center;
	}
	.normal {
		text-align: center;
	}
}
