<ion-grid *ngIf="datos != null">
  <ion-row>
    <ion-col [ngClass]="columnasBladosas" *ngFor="let item of datos;let i=
      index; last as ultimo">
      <ion-card (click)="onEvent('onCardClick', item, $event)">
        <img src="{{item.imagen}}" />
        <ion-badge *ngIf="item.badge">{{ item.badge }}</ion-badge>
        <div gallery-title>
          <h2 item-title text-wrap>{{item.titulo}}</h2>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>